
@pl-default-font: "Lato", Lato, "helvetica neue", helvetica, sans-serif;

@pl-color-primary:         #0b6bfe;
@pl-color-success:         #3FB618;
@pl-color-info:            #0dccee;
@pl-color-warning:         #ffaf00;
@pl-color-danger:          #ff0f0b;


@screen-xs:                  480px;
@screen-sm:                  768px;







