#wpadminbar > #wp-toolbar{
  
  > ul > li{

    &,
    &:hover{

      .ab-label,
      .ab-item,
      .ab-icon{
        &, 
        &:before{

          color: #fff;
        }
      }
      
      .ab-item{
        padding: 0 10px;
        transition: background .35s;
        .pl-icon{
          font-size: 1.1em;
          margin-right: 2px;
          opacity: .9;
          color: rgba(255,255,255,.6);
          margin-left: 2px;
          transition: margin .2s;
        }
        &:hover .pl-icon-caret-right{
         margin-left: 7px;
        } 
        
      }

      .ab-sub-wrapper li a .pl-icon{
        width: 15px;
        text-align: center;
      }

    } 


      &.pl-ab-save{
        > a{
          text-align: center;
          
          box-sizing: border-box;
          background: #32373c;

        }
        
      }

      &.pl-ab-save{
        transition: all .7s;
        margin-right: -100%;
        &.show-save{
          margin-right: 0;
        }
        > a{
          width: 180px;
          padding: 0 20px;
          text-align: center;
          
          background: #333;
          opacity: .7;
          transition: all .5s;
        
            &.needs-save{
            opacity: 1;
            background: @pl-color-primary;
          }
        }
      }

  }
  
}


