//
// Alerts
// --------------------------------------------------

.alert-variant(@background; @border; @text-color) {
  background-color: @background;
  border-color: @border;
  color: @text-color;
}




// Base styles
// -------------------------
.pl-banner{
  text-align: center; 
  font-size: 1.5em;
  line-height: 1.2em;
  padding: 3em 2em;
}
.pl-alert {
  padding: .7em 1.5em;
  background: rgba(0, 0, 0, 0.04);
  font-size: .9em;
  color: rgba(0,0,0,.6);
  margin: 0;
  text-align: center;

  a, 
  a:hover{
    color: inherit;
  }
}

.pl-content-area .pl-alert{
  margin-bottom: 1rem;
}

.pl-scheme-light, 
.pl-scheme-dark .pl-scheme-light{
  .pl-alert{
    background: rgba(255, 255, 255, 0.2);
    color: #FFF;   
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.pl-alert-primary, 
.pl-alert-success,
.pl-alert-info,
.pl-alert-warning,
.pl-alert-danger{
  color: #fff;
  .pl-btn-default{
    color: #fff; 
    background-color: rgba(255,255,255,.2); 
    border-color: rgba(255,255,255,.2); 
    vertical-align: baseline;
    &:hover{
      background-color: rgba(255,255,255,.3); 
    }
  }
}

.pl-alert-primary {
  background-color: @pl-color-primary;
}

.pl-alert-success {
  background-color: @pl-color-success;
}
.pl-alert-info {
  background-color: @pl-color-info;
}
.pl-alert-warning {
  background-color: @pl-color-warning;
}
.pl-alert-danger {
  background-color: @pl-color-danger;
}
