/*
 * @ Animation Stuff
 **********************************************************************/


.pl-animation{
  -webkit-backface-visibility: hidden; // fixes flicker
}

.pla-scale, 
.pla-fade, 
.pla-from-left, 
.pla-from-right, 
.pla-from-top, 
.pla-from-bottom, 
.pla-opacity{
  opacity: 0;
  transition: all .6s ease-in-out;
  &.animation-loaded,
  &.animation-loaded.subtle{
    opacity: 1;
  }
} 


.pla-scale{
 
  .scale(.3);
  &.animation-loaded,
  &.animation-loaded.subtle{
    .scale(1);
  }
}
.pla-from-left{
  transform: translateX(-50px);
  &.subtle{
    transform: translateX(-20px);
  }
}
.pla-from-right{
  transform: translateX(50px);
   &.subtle{
     transform: translateX(20px);
   }
}
.pla-from-left, 
.pla-from-right{
  &.animation-loaded,
  &.animation-loaded.subtle{
    transform: translateX(0);
  }
}

.pla-from-bottom{
  transform: translateY(50px);
 
  &.subtle{
    transform: translateY(20px);
  }
  
}
.pla-from-top{
  transform: translateY(-50px);
   
    &.subtle{
      transform: translateY(-20px);
    }
}

.pla-from-top, 
.pla-from-bottom{
  &.animation-loaded,
  &.animation-loaded.subtle{
    transform: translateY(0);
  }
}

.pl-slidedown{
  height: 5px;
  overflow:hidden;
  -webkit-transition: height 0.85s cubic-bezier(0.725, 0.000, 0.000, 0.995);
    -moz-transition:  height 0.85s cubic-bezier(0.725, 0.000, 0.000, 0.995);
         transition:  height 0.85s cubic-bezier(0.725, 0.000, 0.000, 0.995);

}

.pl-appear{
  opacity: .1;
  .scale(.5);

  &.animation-loaded{
    opacity: 1;
    transition: all .5s ease-in-out;
    .scale(1);
  }
}

.no-anim{
  opacity: 1;
  .scale(1);
  .translate3d(0,0,0);
}

/*pop up animation*/
@-webkit-keyframes pl_appear {
  0%   { -webkit-transform:scale(0.5); opacity: 0.1;  }
  100% { -webkit-transform:scale(1); opacity: 1; }
}
@-moz-keyframes pl_appear {
  0%   { -moz-transform:scale(0.5); opacity: 0.1;  }
  100% { -moz-transform:scale(1);opacity: 1;  }
}
@-o-keyframes pl_appear {
  0%   { -o-transform:scale(0.5); opacity: 0.1;  }
  100% { -o-transform:scale(1);  opacity: 1; }
}
@keyframes pl_appear {
  0%   { transform:scale(0.5); opacity: 0.1;  }
  100% { transform:scale(1); opacity: 1;  }
}


/*
 * RESPONSIVE: TABLET
 ****************************************/
@media screen and ( max-width: @screen-xs ){

  .site-wrap{
    -webkit-backface-visibility: hidden; // fixes flicker
  }

}


