//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.pl-btn{
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: normal;
  text-align: center;
  //vertical-align: top;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  text-decoration: none;
  padding: .7em 1.5em;
  font-size: 14px;
  line-height: 1.4em;
  border-radius: 4px;
  .user-select(none);

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.1);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    opacity: .65;
    box-shadow: none;
  }
  .pl-icon{
    opacity: .5;
    margin: 0 .3em;
  }
}

// Button Sizes
// --------------------------------------------------

.pl-btn-lg, 
.pl-btn-lg[type="submit"]{
  // line-height: ensure even-numbered height of button next to large input
  .button-size( 1em; 1.8em; 16px; 1.4em; 4px);
  font-weight: 600;
  letter-spacing: -.03em;
}
.pl-btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(.4em; 1.2em; 13px; 1.4em; 3px);
}
.pl-btn-xs {
  .button-size( 0em; .5em; 12px; 1.5em; 3px);
}

.pl-btn + .pl-btn{
  margin-left: .5em;
}

.pl-btn-xs + .pl-btn-xs{
  margin-left: .2em;
}



.pl-btn-default, 
.pl-btn-ol-black{

  color: rgba(0,0,0,.7);
  &:hover{
    background-color: rgba(0,0,0,.03);
    color: rgba(0,0,0,1);
  }
}

.pl-btn-primary, 
.pl-btn-success, 
.pl-btn-info, 
.pl-btn-warning, 
.pl-btn-danger, 
.pl-btn-inverse, 
.pl-btn-ol-white{
  color: rgba(255,255,255,1); 
  &:hover{
    color: rgba(255,255,255,.9);
  }
}

.pl-btn-default{
  background-color: transparent;
  border-color: rgba(0,0,0,.1);
}

.pl-btn-ol-black{
  border-color: #000;
}

.pl-btn-primary {
  background-color: @pl-color-primary; 
  border-color: @pl-color-primary; 
}

.pl-btn-success {
  background-color: @pl-color-success; 
  border-color: @pl-color-success; 
}

.pl-btn-info {
  background-color: @pl-color-info; 
  border-color: @pl-color-info; 
}

.pl-btn-warning {
  background-color: @pl-color-warning; 
  border-color: @pl-color-warning; 
}

.pl-btn-danger {
  background-color: @pl-color-danger; 
  border-color: @pl-color-danger; 
}
.pl-btn-inverse {
  background-color: rgba(0,0,0,.9); 
}
.pl-btn-ol-white{
  background-color: transparent; 
  border-color: #fff;
}


.pl-btn-block{
  display: block;
}



// Link buttons
// -------------------------

// Make a button look and behave like a link
.pl-btn-link {
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    .box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
   
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
     
      text-decoration: none;
    }
  }
}


// Make the div behave like a button
.pl-btn-group,
.pl-btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle; // match .pl-btn alignment given font-size hack above
  > .pl-btn {
    position: relative;
    float: left;
    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
  }
}


//
// Input groups
// --------------------------------------------------

// Base styles
// -------------------------
.pl-input-group {
  position: relative; // For dropdowns
  display: table;
  border-collapse: separate; // prevent input groups from inheriting border styles from table cells when placed within a table
  .pl-form-control {
    // Ensure that the input is always above the *appended* addon button for
    // proper border colors.
    position: relative;
    z-index: 2;

    // IE9 fubars the placeholder attribute in text inputs and the arrows on
    // select elements in input groups. To fix it, we float the input. Details:
    // https://github.com/twbs/bootstrap/issues/11561#issuecomment-28936855
    float: left;

    width: 100%;
    margin-bottom: 0;
  }
}


// Display as table-cell
// -------------------------
.pl-input-group-addon,
.pl-input-group-btn,
.pl-input-group .form-control {
  display: table-cell;

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}
// Addon and addon wrapper for buttons
.pl-input-group-addon,
.pl-input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; // Match the inputs
}


// Reset rounded corners

.pl-input-group-addon:first-child {
  border-right: 0;
}

.pl-input-group-addon:last-child {
  border-left: 0;
}


