/**
 * ELEMENTS
 * Reusable components throughout the framework
 * Make sure things are well documenented, as well as their use case. 
 */





/**
 * Media Grid
 * A standardized image grid and interactions
 */
.pl-media-grid{

  .metabar{
    opacity: .5;
    font-size: .85em;
    a{
      color: inherit;
    }
  }
  .meta-title{
    padding: .5em 0 1.5em 0;
    font-size: .85em;
    line-height: 1.2em;
    margin: 3px 0;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: .55;
    a{
      color:inherit;
      text-decoration: none;
    }
    &:hover{
      opacity: 1;
    }
  }

}



.grid-media{

  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  padding: 50%; 
  &.landscape{
    padding: 25% 50%;
  }
  &.tall{
    padding: 50% 25%;
  }
  
  &.aspect{
    padding: 35% 50%;
  }

  

  .grid-media-info {
    opacity: 0;
    position: absolute;
    text-decoration: none;
    .flex-display(); 
    .flex-direction(column);
    .justify-content(center);
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    color: #fff;
    text-align: center;
    transition: all 0.1s linear;
    font-size: .9;
    .info-text {
      opacity: 0;
      font-weight: 600;
      color: #fff;
      margin: 5px;
      display: inline-block;
      transition: opacity 0.1s linear;
      &:hover {
        opacity: 0.8;
      }
    }
    

  }

  &:hover {

    .grid-media-info {
      opacity: 1;
      background-color: rgba(0,0,0,.8);
      .info-text {
        opacity: 1;
      }
    }

  }
}

.pl-grid-excerpt{
  font-size: .8em;
  opacity: .9;
}

.pl-grid-text{
  padding: 1em 0;
  h4{margin: 0;}
}

/**
 * Small Item Grid, Used in sidebars in shop / showcase, etc.. 
 */
.item-grid {
  .flex-display(); 
  .flex-wrap(wrap);
  [class*='grid-number-']{
    padding: 0 4% 4% 0;
  }
  .grid-number-4{
    width: 25%;
  }
  .grid-number-3{
    width: 33%;
  }
  .grid-number-2{
    width: 50%;
  }
  .meta-title{
    font-size: 12px;
    line-height: 1.2em;
    margin: 3px 0;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: .75;
  }
}





.list-unstyled{
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}




/** 
 * Media Object 
 */

.media-right,
.media > .pull-right {
  padding-left: .7em;
}

.media-left,
.media > .pull-left {
  padding-right: .7em;
}

.pl-search-mast{
  padding-top: 4vw;
  padding-bottom: 4vw;


  h1, h4{
    margin: 0;
  }
  h4{
    opacity: .5;
  }

}

.pl-search-mast-search{
  margin-top: 1rem;
  position: relative;
  input{
    width: 100%;
    background: transparent;
    border: 1px solid rgba(0,0,0,.1);
    font-size: 1.3em;
    padding: .5em 1em; 

    &:focus{
      background: rgba(255,255,255,.1);
      border: 1px solid #999;
      outline: none;
    }
  }
  .search-button{
    background: none;
    border: none;
    position: absolute;
    right: 0;
    width: 2em;
    font-size: 1.6em;
    opacity: .3;
    text-align: center;
    &:hover, {
      opacity: .5;
    }
    &:focus, 
    &:active{
      outline: none;
    }
  }
} 

