
.pl-form-group {
  margin-bottom: 1em;
}

.pl-form-control, 
.pl-input-text{
  display: block;
  width: 100%;
  padding: .3em .5em;
  font-size: 1em;
  line-height: 1.4em;
  color: inherit;
  background-color: rgba(0,0,0,.03);
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid rgba(0,0,0,.1);

  box-shadow: none;

  
}

.image_uploader{
  margin: 1em 0;
  .flex-display();
  .image_preview{
    width: 100px;
    margin-right: 1em;
    .the_preview_image{
      display: block;
      line-height: 1;
    }
    
  }
}

.pl-standard-form-title{
  text-align: center;
}

.pl-input-title{
  line-height: 1;
  margin: 0;
}
.pl-input-help{ 
  font-size: 12px;
  font-style: italic;
  opacity: .5;
  line-height: 1.2;
}


.pl-input-head{
  margin: 3px 0;
}

.pl-form,
.pl-form-sending, 
.pl-form-sent{
  display: none;
}

[data-state="form"] .pl-form{
    display: block;
}

[data-state="sending"] .pl-form-sending{
    display: block;
}

[data-state="sent"] .pl-form-sent{
    display: block;
}



