
/* ## Universal Fonts
--------------------------------------------- */
@import url( '//fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic' );

/**
 * Binding helper classes
 */
.pl-render-item{
  display: none;
}
.pl-rendered{
  opacity: 0;
  transition: opacity .2s;
  &.loaded{
    opacity: 1;
  }
}

#site .js-unset, 
#site .hide-on-page{
  display: none;
}

/** 
 * Utility to show an area once its CSS is loaded
 * Large sections can have a flash of unstyled content while loading css
 * so instead just add this class and add opacity: 1 in section CSS
 */
.pl-show-on-load{
  opacity: 0; 
  transition: opacity .2s;
}

/* ## Nested Content
--------------------------------------------- */
.pl-content-area{
  position: relative;
  max-width: 1000px;

  margin: 0 auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  .pl-content-area{
    max-width: none;
    padding: 0;
  }
}

/* ## Sections
--------------------------------------------- */
.pl-sn{

  opacity: 0;
  &.js-loaded{ opacity: 1; }

  .pl-sn-wrap{
    position: relative;
    width: 100%;
    background-position: 50% 50%;
  }

  /** Sections Special Cases */

  .pl-sn-container{
    > .pl-sn-wrap > .pl-sn-pad{
      padding: 0;
    }
    .pl-sn:last-of-type{
      margin-bottom: 0;
    }
  }


   &[data-level="0"][class*='pl-col-']{
     float: none;
     padding: 0;
   }
  
  [data-type="size"] {
    &.h1{
      font-size: 3em;
    }
    &.h2{
      font-size: 2em;
    }
    &.h3{
      font-size: 1.5em;
    }
    &.h4{
      font-size: 1.2em;
    }
  }
}


/** Don't nest, since we want base hierarchy for overriding */
.pl-sn-pad{
  padding: 1rem;
  .flex-display();
  .flex-direction(column);
  .justify-content(center);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  z-index: 3; // make sure its over the overlay
}

/** No Padding for Content Section */
.pl-sn-static-content > .pl-sn-wrap > .pl-sn-pad{
  padding: 0;
}



.pl-bg-cover{
  background-position: 50% 50%;
  background-size: cover;
}

.pl-effect-window-height > .pl-sn-pad{
  min-height: 100vh;
}

.pl-flex-vertical{
  .flex-vertical();
}

/* ## Search Field
--------------------------------------------- */

.pl-searcher{
  cursor: pointer;
  fieldset{
    border: none;
    padding: 0;
  }
}

.search-form {
  position: relative;
  margin: 3px 0 3px 0;
  display: inline-block;
  .btn-search{
    position: absolute;
    z-index: 10;
    left: .5em;
    color: #000;
    top: 50%;
    transform: translateY(-50%);
    &:hover{
      cursor: pointer;
      opacity: .6;
    }
  }

  .search-field{
    .placeholder( rgba(0,0,0,.5) );

    text-indent: 1.5em;
    &:focus {
      background: rgba(255,255,255,.1);
      border-color: rgba(0,0,0,.3);
      outline: none;
    }

  }

}

.search-field,
.search-submit{
  font-family: @pl-default-font;
  border-radius: 3px;
  border-width: 1px; // color from pl-border
  border-style: solid;
  border-color: rgba(0,0,0,.1);
}

.search-field{
  background: transparent;

  padding: 5px;
  margin: 0;
  cursor: default;

  transition: all .7s;
  box-sizing: border-box;
  width: 100%;
}

.search-submit{
  padding: 5px 7px;
  line-height: 1em;
  vertical-align: top;
}

/* ## Basic Content Layouts
--------------------------------------------- */




/* ## Main PageLines Watermark
--------------------------------------------- */
.pl-cred{
  text-align: center;
  padding: 1em 0;
  a{
    font-size: 35px;
    color: inherit;
    opacity: .08;
    transition: opacity .3s;

    &:hover{
      opacity: 1;
      color: inherit;
    }
  }
}


/*
 * @ HTML5 VIDEO
 **********************************************************************/
.pl-bg-video-container{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.pl-bg-video{
  position: absolute;
  bottom: 50%;
  right: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate3d(50%, 50%, 0);
}

.pl-bg-video::-webkit-media-controls {
    display:none !important;
}

/*
 * @ Overlay
 */
.pl-bg-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; // above back
}



/*
 * @ Lists
 **********************************************************************/

/* @ Inline List - Horizontal non-floated navigation/menu  */
ul.inline-list {

  list-style-type: none;
  display: inline-block;
  margin: 0;
  > li {
    display: inline-block;
    padding: 0;
    margin: 0;
    > a{
      box-sizing: border-box;
      display: block;
      color: inherit;

    }
  }


}



/*
 * @ Media / Image Format
 **********************************************************************/

 .list-unstyled {
   padding-left: 0;
   list-style: none;
 }

.media{
  overflow:hidden;
  overflow: visible;
  zoom: 1;
  > .bd{
    display:table-cell;
    vertical-align: top;
    width: 10000px;
    *display:block;
    *width:auto;
    zoom:1;
  }
  .bd > :first-child{margin-top:0;}
  .bd > :last-child{margin-bottom:0;}
  > .img{
    max-width: 25%;
    float:left;
    margin-right: 15px;
    text-align: center;
    &.rtimg{
      float:right;
      margin-left: 15px;
      margin-right: 0;
    }

    > img{
      display: inline-block;
      vertical-align: bottom;
      max-width: 100%;
      height: auto;
      width: auto\9;

    }
    .thumbnail{
      max-width: 100%;
      display: inline-block;
      padding: 3px;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: 4px;
      box-shadow: 0 1px 3px rgba(0,0,0,.055);
      transition: all .2s ease-in-out;

      &[href]:hover{

          box-shadow: 0 1px 4px rgba(0,105,214,.25);
      }
    }
  }

}

.media-list{
  margin-bottom: 0;
  .title,
  .excerpt{
    display: block;
  }

  .excerpt{
    font-size: .9em;
    padding-bottom: 5px;
  }
  > li,
  > lh {
    display: block;
    margin-bottom: .5em;
    &:last-child{
      margin-bottom: 0;
    }
  }

  .img .the-media{
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: 50%;
  }


}



/*
 * Alignment
 * Left, Right, Center
 ***********************************/

.pl-alignment-left{
  &, 
  .pl-alignment-default-center{
    text-align: left;
  }
}

.pl-alignment-right{
  &, 
  .pl-alignment-default-center{
    text-align: right;
  }
}

.pl-alignment-center, 
.pl-alignment-default-center{
  text-align: center;
}

.text-align-right{
  text-align: right;
}


/* ## Clearing Floats
--------------------------------------------- */

.fix,
.clearfix{
  .clearfix();
}
