
@pl-grid-spacing: 1em;

@pl-grid-spacing-small: .5em;

@pl-col-3-width: 25%;

.pl-row{
  box-sizing: border-box;

  .flex-display();
  .flex-direction(row);
  .flex-wrap(wrap);
}

//woocommerce
.pl-row{
  margin-right: -@pl-grid-spacing;
  margin-left: -@pl-grid-spacing;
  &.no-pad{
    margin-right: 0;
    margin-left: 0;
  }
  &.half-space{
    margin-right: -@pl-grid-spacing-small;
    margin-left: -@pl-grid-spacing-small;
  }
}



[class*='pl-col-']{
  .flex-order(3);
  .flex-basis();
  padding-right: @pl-grid-spacing;
  padding-left: @pl-grid-spacing;
  max-width: 100%;
  margin-right: -.8px;

  &.top-on-mobile{
    .flex-order(1);
  }

  > div{
    .flex-grow(1);
    max-width: 100%; 
  }
}

.half-space > [class*='pl-col-']{
  padding-right: @pl-grid-spacing-small;
  padding-left: @pl-grid-spacing-small;
  
}

.no-pad > [class*='pl-col-']{
  padding-right: 0;
  padding-left: 0;
  
}

.pl-col-flex{
   .flex( 1 1 100% );
 }


.pl-row.reverse {
  .flex-direction(row-reverse);
}

.pl-col.reverse {
  .flex-direction(column-reverse);
}

.pl-col-xs,
.pl-col-xs-1,
.pl-col-xs-2,
.pl-col-xs-3,
.pl-col-xs-4,
.pl-col-xs-5,
.pl-col-xs-6,
.pl-col-xs-7,
.pl-col-xs-8,
.pl-col-xs-9,
.pl-col-xs-10,
.pl-col-xs-11,
.pl-col-xs-12,
.pl-col-xs-offset-1,
.pl-col-xs-offset-2,
.pl-col-xs-offset-3,
.pl-col-xs-offset-4,
.pl-col-xs-offset-5,
.pl-col-xs-offset-6,
.pl-col-xs-offset-7,
.pl-col-xs-offset-8,
.pl-col-xs-offset-9,
.pl-col-xs-offset-10,
.pl-col-xs-offset-11,
.pl-col-xs-offset-12 {
  box-sizing: border-box;
  padding-right: @pl-grid-spacing;
  padding-left: @pl-grid-spacing;
}

.pl-col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.pl-col-xs-1 {
  -webkit-flex-basis: 8.333%;
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.pl-col-xs-2 {
  -webkit-flex-basis: 16.667%;
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.pl-col-xs-3 {
  -webkit-flex-basis: @pl-col-3-width;
  -ms-flex-preferred-size: @pl-col-3-width;
  flex-basis: @pl-col-3-width;
  max-width: @pl-col-3-width;
}

.pl-col-xs-4 {
  -webkit-flex-basis: 33.333%;
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.pl-col-xs-5 {
  -webkit-flex-basis: 41.665%;
  -ms-flex-preferred-size: 41.665%;
  flex-basis: 41.665%;
  max-width: 41.665%;
}

.pl-col-xs-6 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.pl-col-xs-7 {
  -webkit-flex-basis: 58.333%;
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.pl-col-xs-8 {
  -webkit-flex-basis: 66.667%;
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.pl-col-xs-9 {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.pl-col-xs-10 {
  -webkit-flex-basis: 83.333%;
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.pl-col-xs-11 {
  -webkit-flex-basis: 91.667%;
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.pl-col-xs-12 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.pl-col-xs-offset-1 {
  margin-left: 8.333%;
}

.pl-col-xs-offset-2 {
  margin-left: 16.667%;
}

.pl-col-xs-offset-3 {
  margin-left: @pl-col-3-width;
}

.pl-col-xs-offset-4 {
  margin-left: 33.333%;
}

.pl-col-xs-offset-5 {
  margin-left: 41.665%;
}

.pl-col-xs-offset-6 {
  margin-left: 50%;
}

.pl-col-xs-offset-7 {
  margin-left: 58.333%;
}

.pl-col-xs-offset-8 {
  margin-left: 66.667%;
}

.pl-col-xs-offset-9 {
  margin-left: 75%;
}

.pl-col-xs-offset-10 {
  margin-left: 83.333%;
}

.pl-col-xs-offset-11 {
  margin-left: 91.667%;
}

.start-xs {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle-xs {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-xs {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around-xs {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.last-xs {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 768px) {
  
  [class*='pl-col-']{
    &.top-on-mobile{
      .flex-order(3);
    }
  }
  
 

  .pl-row.row-nowrap{
    .flex-wrap(nowrap);
  }
  
  // .pl-col-flex{
  //   .flex( 1 1 50% );
  // }

  .pl-col-sm,
  .pl-col-sm-1,
  .pl-col-sm-2,
  .pl-col-sm-3,
  .pl-col-sm-4,
  .pl-col-sm-5,
  .pl-col-sm-6,
  .pl-col-sm-7,
  .pl-col-sm-8,
  .pl-col-sm-9,
  .pl-col-sm-10,
  .pl-col-sm-11,
  .pl-col-sm-12,
  .pl-col-sm-offset-1,
  .pl-col-sm-offset-2,
  .pl-col-sm-offset-3,
  .pl-col-sm-offset-4,
  .pl-col-sm-offset-5,
  .pl-col-sm-offset-6,
  .pl-col-sm-offset-7,
  .pl-col-sm-offset-8,
  .pl-col-sm-offset-9,
  .pl-col-sm-offset-10,
  .pl-col-sm-offset-11,
  .pl-col-sm-offset-12 {
    box-sizing: border-box;
    padding-right: @pl-grid-spacing;
    padding-left: @pl-grid-spacing;
  }

  .pl-col-sm {
    // -webkit-flex-grow: 1;
    // -ms-flex-positive: 1;
    // flex-grow: 1;
    // -webkit-flex-basis: 0;
    // -ms-flex-preferred-size: 0;
    // flex-basis: 0;
    max-width: 100%;
  }

  .pl-col-sm-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .pl-col-sm-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .pl-col-sm-3 {
    -webkit-flex-basis: @pl-col-3-width;
    -ms-flex-preferred-size: @pl-col-3-width;
    flex-basis: @pl-col-3-width;
    max-width: @pl-col-3-width;
  }

  .pl-col-sm-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .pl-col-sm-5 {
    -webkit-flex-basis: 41.665%;
    -ms-flex-preferred-size: 41.665%;
    flex-basis: 41.665%;
    max-width: 41.665%;
    margin-right: -1px;
  }

  .pl-col-sm-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    margin-right: -1px;
  }

  .pl-col-sm-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .pl-col-sm-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .pl-col-sm-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .pl-col-sm-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .pl-col-sm-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .pl-col-sm-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .pl-col-sm-offset-1 {
    margin-left: 8.333%;
  }

  .pl-col-sm-offset-2 {
    margin-left: 16.667%;
  }

  .pl-col-sm-offset-3 {
    margin-left: @pl-col-3-width;
  }

  .pl-col-sm-offset-4 {
    margin-left: 33.333%;
  }

  .pl-col-sm-offset-5 {
    margin-left: 41.665%;
  }

  .pl-col-sm-offset-6 {
    margin-left: 50%;
  }

  .pl-col-sm-offset-7 {
    margin-left: 58.333%;
  }

  .pl-col-sm-offset-8 {
    margin-left: 66.667%;
  }

  .pl-col-sm-offset-9 {
    margin-left: 75%;
  }

  .pl-col-sm-offset-10 {
    margin-left: 83.333%;
  }

  .pl-col-sm-offset-11 {
    margin-left: 91.667%;
  }

  
}

@media only screen and (min-width: 1200px) {


  .pl-row.row-nowrap{
    .flex-wrap(nowrap);
  }

  .pl-col-lg,
  .pl-col-lg-1,
  .pl-col-lg-2,
  .pl-col-lg-3,
  .pl-col-lg-4,
  .pl-col-lg-5,
  .pl-col-lg-6,
  .pl-col-lg-7,
  .pl-col-lg-8,
  .pl-col-lg-9,
  .pl-col-lg-10,
  .pl-col-lg-11,
  .pl-col-lg-12,
  .pl-col-lg-offset-1,
  .pl-col-lg-offset-2,
  .pl-col-lg-offset-3,
  .pl-col-lg-offset-4,
  .pl-col-lg-offset-5,
  .pl-col-lg-offset-6,
  .pl-col-lg-offset-7,
  .pl-col-lg-offset-8,
  .pl-col-lg-offset-9,
  .pl-col-lg-offset-10,
  .pl-col-lg-offset-11,
  .pl-col-lg-offset-12 {
    box-sizing: border-box;
    padding-right: @pl-grid-spacing;
    padding-left: @pl-grid-spacing;
  }

  .pl-col-lg {
    max-width: 100%;
  }

  .pl-col-lg-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .pl-col-lg-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .pl-col-lg-3 {
    -webkit-flex-basis: @pl-col-3-width;
    -ms-flex-preferred-size: @pl-col-3-width;
    flex-basis: @pl-col-3-width;
    max-width: @pl-col-3-width;
  }

  .pl-col-lg-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .pl-col-lg-5 {
    -webkit-flex-basis: 41.665%;
    -ms-flex-preferred-size: 41.665%;
    flex-basis: 41.665%;
    max-width: 41.665%;
    margin-right: -1px;
  }

  .pl-col-lg-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    margin-right: -1px;
  }

  .pl-col-lg-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .pl-col-lg-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .pl-col-lg-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .pl-col-lg-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .pl-col-lg-11 {
    -webkit-flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .pl-col-lg-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .pl-col-lg-offset-1 {
    margin-left: 8.333%;
  }

  .pl-col-lg-offset-2 {
    margin-left: 16.667%;
  }

  .pl-col-lg-offset-3 {
    margin-left: @pl-col-3-width;
  }

  .pl-col-lg-offset-4 {
    margin-left: 33.333%;
  }

  .pl-col-lg-offset-5 {
    margin-left: 41.665%;
  }

  .pl-col-lg-offset-6 {
    margin-left: 50%;
  }

  .pl-col-lg-offset-7 {
    margin-left: 58.333%;
  }

  .pl-col-lg-offset-8 {
    margin-left: 66.667%;
  }

  .pl-col-lg-offset-9 {
    margin-left: 75%;
  }

  .pl-col-lg-offset-10 {
    margin-left: 83.333%;
  }

  .pl-col-lg-offset-11 {
    margin-left: 91.667%;
  }

  
}
