
.pl-content-area{
  .pl-sn-container, 
  .pl-sn-static-content{
    > .pl-sn-wrap{
      > .pldd-bar{
        left: 0;
        right: auto;
      }
    }
    
  }
}

.pl-sn-static-content{
  > .pl-sn-wrap{
    > .pldd-bar{
      left: 0;
      right: auto;
    }
  }
  
}

.pldd-bar{
  
  transition: opacity .2s;
  opacity: 0;
  line-height: 16px;
  font-family: @pl-default-font;
  padding: 0;
  position: absolute; 
  
  color: #fff !important; // prevent erroneous changes 
  background: rgba(0,0,0,.5);
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 3px 2px rgba(0,0,0,.1);

  width: auto;
  right: 0;
  z-index: 50;

  &.top-bar{
    z-index: 500;
  }

  .pldd-bar-tools{
    float: right;
    max-height: 50px;
    position: relative;


    &.pldd-grid-tools{
      float: left;
    }

    > a,
    .bar-control{
      color: #fff !important; // prevent erroneous changes 
      cursor: pointer;
      font-size: 13px;
      line-height: 1;
      display: inline-block;
      font-weight: 600;
      padding: 5px;
      .pl-icon{
        padding: 0 3px;
        opacity: .6;
      }
     
      &:hover, 
      &:active{
        opacity: 1;
        color: #fff;
        text-decoration: none;
      }
      .name{
        padding-right: 5px;
      }

    }

  }

  
}

.pldd-active{
  
  .pl-sn{
    transition: box-shadow 1.5s;
    &.section-glow{
      box-shadow: 0 0 15px rgba(15,106,242, 0.4);
    }
  }


  .pl-sn{

    &:hover > .pl-sn-wrap{

      > .pldd-bar{
        opacity: 1;
        &:hover{
          background: rgba(0,0,0,.5);
        }
        &:active{
          background: rgba(0,0,0,.7);
          box-shadow: none;
          color: #fff;
        }
      }

    }
  }

}