/** 
 * Standard Styling. Sets to inline
 */
.pl-menu, 
.pl-nav{
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  a, 
  a:hover{
    text-decoration: none;
  }
  > li {
    display: inline-block;
    padding: 0; 
    > a{
      display: block;
      color: inherit; 
      opacity: .7;
    }
    &.current-menu-item > a,
    > a:hover{
      opacity: 1;
    }
  }
}

/* ## Default Navigation Styling
--------------------------------------------- */
.pl-nav{
  > li  {
    > a{
      font-size: .85em;
      padding: .5em 1em;
      
    }
  
    &.current-menu-item > a,
    > a:hover{
      background-color: rgba(0,0,0,.04);
    }
  }
}

.pl-scheme-light .pl-nav > li:hover > a{
  background-color: rgba(255,255,255,.1);
}


/** 
 * Modes
 */
.nav-mode-simple{

  > li {
    > a{
      padding: 0 10px;
      font-size: .9em; 
      line-height: 1.5em;
    }
  }
}

