//
// Pagination (multiple pages)
// --------------------------------------------------
.pl-pagination {
  display: inline-block;
  padding-left: 0;
  margin: 1em 0;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: .3em .8em;
      font-size: .85em;
      line-height: 1.4;
      text-decoration: none;
      color: inherit;
      opacity: .4;
      background-color: rgba(0,0,0,.05);
    }
    
  }

  > li{
    &.active a,
    &.active span,
    > a:hover, 
    > span:hover{
      opacity: 1;
    }
  }

 
}

.pl-pager {
  padding:0;
  margin: 1em 0;
  list-style: none;
  text-align: center;
  li {
    display: inline;
    > a,
    > span {
      display: inline-block;
     
    }

    > a:hover,
    > a:focus {
      text-decoration: none;
    }
  }

  .next {
    > a,
    > span {
      float: right;
    }
  }

  .previous {
    > a,
    > span {
      float: left;
    }
  }


}

.pl-pagination-simple{
  font-size: .85em;
  margin: 1em 0;
  text-align: center;
  a{
    opacity: .4;
    color: inherit;
  }
  span{
    opacity: .8;
  }
  .page-numbers{
    padding: 0 3px;
    &:hover{
      opacity: .8;
      color: inherit;
    }
   
  }

}

