/*
 * Color Schemes
 * Default, Dark, Light
 ***********************************/
.pl-border{
  border-style: solid; 
  border-width: 0;
  border-color: rgba(0,0,0,.1);
  
}


.pl-contrast{
  background-color: rgba(0,0,0,.05);
  .pl-contrast,
  .widget li,
  .pl-border{
    border-color: rgba(0,0,0,.1); 
  }

  &.heavy{
    background-color: rgba(0,0,0,.3);
  }
}

/** Do for both */
.pl-scheme-light, 
.pl-scheme-dark{
  h1, h2, h3, h4, h5, h6, a:not(.pl-btn), blockquote, .metahead a{
    color: inherit; 
  }

  .pl-link{
    color:inherit;
  }

  a:not(.pl-btn):hover{
      opacity: .7;
      color:inherit;
    }
}

.pl-scheme-dark, 
.pl-scheme-light .pl-scheme-dark,
.pl-scheme-dark .pl-scheme-light .pl-scheme-dark{

  color: #000;

  .widget li,
  .pl-border{
    border-color: rgba(0,0,0,.1);
  }
  
}

.pl-scheme-light, 
.pl-scheme-dark .pl-scheme-light{

  color: #fff; 

  .pl-contrast{
    background-color: rgba(255,255,255,.2); 
    &.heavy{
      background-color: rgba(255,255,255,.5); 
    }
  }
  
  /** Buttons */
  .pl-btn-default {
    .button-variant( #fff; rgba(255,255,255,.2); );
    &:hover{
      background: rgba(255,255,255,.3);
      color: #FFF; 
    }
  }



  .pl-form-control{
    border: none;
  }

  code{
    background: rgba(255,255,255,.2);
  }
  
  .widget li,
  .pl-border{
    border-color: rgba(255,255,255,.2);
  }
  

  
}
