/**handles:sps-styles**/
.storefront-product-sharing {
	clear: both;
}

.storefront-product-sharing ul {
	margin-left: 0;
}

.storefront-product-sharing ul li {
	list-style: none;
}

.storefront-product-sharing ul li a:before {
	font-family: "FontAwesome";
	font-weight: 400;
	margin-right: 1em;
}

.storefront-product-sharing ul li.facebook a:before {
	content: "\f230";
	color: #3b5998;
}

.storefront-product-sharing ul li.twitter a:before {
	content: "\f081";
	color: #00aced;
}

.storefront-product-sharing ul li.pinterest a:before {
	content: "\f0d3";
	color: #cb2027;
}

.storefront-product-sharing ul li.email a:before {
	content: "\f199";
}

.storefront-product-sharing {
	padding: 2.618em 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.storefront-product-sharing ul {
	margin: 0;
}

.storefront-product-sharing ul::after {
	clear: both;
	content: "";
	display: table;
}

.storefront-product-sharing ul li {
	width: 25%;
	float: left;
	text-align: center;
}

.storefront-product-sharing ul li a {
	display: block;
}

.storefront-product-sharing ul li a:before {
	display: block;
	margin: 0 auto .007em;
	font-size: 2.618em;
	-webkit-transition: all, ease, 0.2s;
	-moz-transition: all, ease, 0.2s;
	transition: all, ease, 0.2s;
}

.storefront-product-sharing ul li a:hover:before {
	-webkit-transform: translateY(-0.236em);
	-moz-transform: translateY(-0.236em);
	-ms-transform: translateY(-0.236em);
	-o-transform: translateY(-0.236em);
	transform: translateY(-0.236em);
}