/**handles:wc-realex-redirect**/
iframe#wc_realex_redirect_iframe{border:none;margin:0 auto;overflow-x:auto;overflow-y:hidden}#wc_realex_redirect_iframe_cancel{display:block;width:600px;margin:0 auto;text-align:center}@media screen and (max-width:600px){iframe#wc_realex_redirect_iframe{overflow:auto}#wc_realex_redirect_iframe_cancel{width:100%}}