/**handles:storefront-woocommerce-smart-coupons-style**/
/**
 * WooCommerce Smart Coupons
 */
/**
 * Imports
 */
.woocommerce .coupon-container,
.woocommerce-page .coupon-container {
  margin: 0;
  box-shadow: none; }
  .woocommerce .coupon-container.medium,
  .woocommerce-page .coupon-container.medium {
    line-height: inherit;
    padding: 0.6180469716em; }

.woocommerce .generated_coupon_summary,
.woocommerce-page .generated_coupon_summary {
  margin: 0; }

.woocommerce .coupon-content.small,
.woocommerce-page .coupon-content.small {
  padding: 0.6180469716em 1.41575em; }

.woocommerce .coupon-content .coupon-expire,
.woocommerce .coupon-content .discount-info,
.woocommerce-page .coupon-content .coupon-expire,
.woocommerce-page .coupon-content .discount-info {
  font-family: inherit; }

.woocommerce #coupons_list,
.woocommerce-page #coupons_list {
  margin-bottom: 1.618em; }

.sd-buttons-transparent.woocommerce .coupon-container, .sd-buttons-transparent.woocommerce-page .coupon-container {
  background: transparent !important;
  padding: 0; }

@media (min-width: 768px) {
  .sc_info_box {
    width: 41.1764705882%;
    float: right;
    margin-right: 0;
    padding-left: 2.0833333333%;
    padding-right: 2.0833333333%; }
  .page-template-template-fullwidth-php .sc_info_box {
    width: 39.1304347826%;
    float: right;
    margin-right: 0;
    margin-left: 0; } }