/**handles:wc-gateway-ppec-frontend-cart**/
.wcppec-checkout-buttons {
	text-align: center;
	margin: 1em 0;
	overflow: hidden;
}
.wcppec-checkout-buttons .woocommerce-error {
	text-align: left;
}
.wcppec-checkout-buttons__separator {
	display: block;
	opacity: .5;
	margin: 0 0 1em;
}
.wcppec-checkout-buttons__button {
	display: inline-block;
	text-decoration: none !important;
	border: 0 !important;
	padding-top: 1em;
}
.wcppec-checkout-buttons__button img {
	margin: 0 auto;
}
.paypal-button-widget .paypal-button,
.paypal-button-widget .paypal-button:hover {
	background: transparent;
	box-shadow: none;
	border: none;
}
.wcppec-cart-widget-button {
	display: inline-block;
	text-decoration: none !important;
	border: 0 !important;
}
.site-header .widget_shopping_cart p.buttons.wcppec-cart-widget-spb {
    padding: 0 1em 1em;
}
.site-header .widget_shopping_cart .woocommerce-mini-cart__empty-message + p.buttons.wcppec-cart-widget-spb {
	display: none;
}