/*
Theme Name: Startit
Theme URI: http://startit.select-themes.com/
Description: A Fresh Startup Business Theme
Author: Select Themes
Author URI:  http://themeforest.net/user/select-themes
Version: 2.3
License: GNU General Public License
License URI: licence/GPL.txt

CSS changes can be made in files in the /css/ folder. This is a placeholder file required by WordPress, so do not delete it.

*/

footer .qodef-footer-top-holder {
	background-color: #cd7a31 !important;
}
footer .qodef-footer-top.qodef-footer-top-full {
	padding: 30px 25px 15px !important;
}
.qodef-footer-column-1 p a {
	color: #fff !important;
	margin-right: 20px;
}
.qodef-footer-column-1 p.moCopy a {
	color: #733407 !important;
}
.qodef-footer-column-1 p.moCopy a:hover {
	color: #000 !important;
}
.qodef-footer-column-1 p.moCopy {
	color: #733407 !important;
	font-size: 12px;
	font-weight: 500;
	margin: 20px 0 0;
}
.qodef-footer-column-1 p a:hover {
	color: #793e0a !important;
}
.qodef-footer-column-1 p {
	color: #fff !important;
	font-size: 20px;
	text-align: center;
	font-weight: 400;
	line-height: 28px;
}
footer ul.menu a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}
#menu-footer-menu {
	text-align: center;
}
#menu-footer-menu li {
	display: inline-block;
	padding: 0px 23px 0px 20px;
	border-right: 1px solid #fff;
	margin: 5px 0px 15px;
}
#menu-footer-menu li:last-child {
	border-right: 0px solid #fff !important;
}
#menu-footer-menu .x-nav li:after {
	content: "/";
	display: inline-block;
	margin: 0 0.5em 0 0.75em;
	color: rgba(255,255,255,0.25);
}
footer .ftrSocial img {
	width: 223px;
	padding-right: 105px;
}
footer .ftrSocial {
	margin-top: 25px;
}
footer .ftrSocial a {
	text-decoration: none;
	color: #fff;
	font-size: 17px;
	margin: 0 2px;
	height: 29px;
	background: #fff;
	color: #cd7a31;
	width: 29px;
	display: inline-block;
	border-radius: 100%;
	line-height: 29px;
}
.ftrSocial {
	text-align: center;
}
.widget.widget_nav_menu {
	margin-bottom: 5px;
}
/*.qodef-woocommerce-page .qodef-woocommerce-product-list-add-to-cart-button-holder, .qodef-woocommerce-product-list-add-to-cart-button-holder {
	display: none !important;
}
.qodef-woocommerce-product-list-details-button-holder {
	width: 96% !important;
	border-right: 0 !important;
	margin: 0 auto;
	display: block !important;
	clear: both;
	float: none !important;
	border-radius: 5px !important;
	margin-bottom: 50px;
}*/
body.qodef-woocommerce-page .qodef-woocommerce-product-list-info .qodef-product-list-product-title {
	width: 100%;
	padding-top: 0;
	border: 0;
}
body .sku_wrapper {
	display: none !important
}
body .qodef-top-bar {
	height: 33px;
}
body .qodef-top-bar .p-info {
	margin-top: 0px;
	font-size: 21px;
	text-align: center;
	padding: 17px 0;
	color: #fff;
	display: block;
}
.qodef-top-bar .p-info, .qodef-top-bar .ftrSocial {
	margin-top: 5px;
	font-size: 12px;
}
.qodef-top-bar .p-info a {
	color: #fff;
}
.p-info a:hover {
	color: #6a3a0f !important;
}
.qodef-top-bar .ftrSocial a {
	color: #fff;
	font-size: 20px;
	margin-left: 5px;
}
body .qodef-main-menu>ul>li>a {
/*	border-bottom: 2px solid #fff;*/
}
.qodef-main-menu>ul>li>a, .qodef-main-menu>ul>li>a>span {
	color: #cb7021 !important;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 0;
	font-weight: 400 !important;
	font-size: 15px;
}
.qodef-main-menu>ul>li>a, .qodef-main-menu>ul>li>a>span:hover {
	color: #000 !important;
}
.qodef-main-menu>ul>li>a .item_outer:before {
	display: none !important;
}
body .qodef-drop-down .second .inner ul li {
	width: 255px;
	margin: 11px 0;
}
.qodef-sticky-header {
	display: none !important;
}
.qodef-out-of-stock-button {
	display: none !important;
}
.qodef-drop-down .second .inner ul li a, .qodef-drop-down .second .inner ul li h4 {
	font-size: 13px !important;
}
header .qodef-position-left, header .qodef-position-right {
	float: none !important;
	width: 100% !important;
	clear: both;
	display: block;
}
.qodef-vertical-align-containers .qodef-position-center:before, .qodef-vertical-align-containers .qodef-position-left:before, .qodef-vertical-align-containers .qodef-position-right:before {
	display: none !important;
}
header .qodef-position-left-inner {
	width: 100%;
	text-align: center;
}
header .qodef-position-right-inner {
	width: 100%;
	display: block;
	text-align: center;
	clear: both;
	margin-top: 35px;
}
body .qodef-drop-down .narrow .second .inner ul li {
	width: 245px;
}
body .qodef-logo-wrapper {
	width: 400px;
	margin-top: 15px;
}
body .qodef-page-header .qodef-menu-area .qodef-logo-wrapper a {
	max-height: 178px;
}
body .qodef-page-header .qodef-menu-area {
	height: auto;
}
body.home .qodef-content .qodef-container .qodef-container-inner {
	padding-top: 0;
}
ul li .menu_icon_wrapper {
	float: right;
	text-align: right;
	margin-left: 7px;
	margin-right: -15px;
}
.qodef-light-header .qodef-page-header>div:not(.qodef-sticky-header) .qodef-main-menu>ul>li>a, .qodef-light-header.qodef-header-style-on-scroll .qodef-page-header .qodef-main-menu>ul>li>a, .qodef-main-menu>ul>li.qodef-active-item>a, .qodef-main-menu>ul>li:hover>a {
/*border-bottom: 2px solid #c86e1e;*/
}
body .qodef-main-menu ul li a {
	line-height: 27px;
}
.qodef-drop-down .second {
	border: 0 !important
}
.qodef-drop-down .second .inner>ul, li.narrow .second .inner ul {
	box-shadow: 0 0 6px -2px #000;
}
body .qodef-drop-down .second .inner ul li a {
	color: #c86e1e;
}
body .qodef-drop-down .second .inner ul li a:hover {
	color: #6a3a0f;
}
/*ul.products li .qodef-woocommerce-product-info-holder {
	top: 228px;
	background: rgba(0, 0, 0, 0.5);
	border: 0;
	position: absolute;
}
ul.products li .qodef-woocommerce-product-list-info {
	border: 0 !important;
}
ul.products li {
	transition: all 0.3s ease 0s;
	overflow: hidden;
}
ul.products li .qodef-product-list-product-title {
	width: 100% !important;
	padding: 0 0 !important;
	color: #fff;
	font-size: 12px;
	transition: all 0.3s ease 0s;
	height: 24px;
	text-transform: uppercase;
	overflow: hidden;
}
ul.products li:hover .qodef-woocommerce-product-info-holder {
	top: 127px;
	transition: all 0.3s ease 0s;
}
ul.products li qodef-product-list-product-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ul.products li.product .price {
	padding-top: 4px;
	font-size: 24px !important;
	font-family: "Montserrat", sans-serif !important;
	color: #fff !important;
	text-align: center;
}
ul.products li.product .qodef-btn {
	border-color: #c86e1e !important;
	color: #ffffff !important;
}
ul.products li.product .qodef-btn:hover {
	color: #fff !important;
}*/

.x-btn:hover {
	background : #c86e1e;
	color: #fff !important;
}
.x-btn {
	color: #c86e1e;
	border: 1px solid #c86d1d;
	padding: 16px 26px;
	cursor: pointer;
	font-size: 19px;
	line-height: 1.3;
	text-align: center;
	border-width: 3px;
	font-family: "Montserrat", sans-serif !important;
	text-transform: uppercase;
	width: 370px;
	margin: 10px auto 20px;
	display: block;
}
.x-raw-content {
	text-align: center;
	margin-top: 10px;
	color: #6a3a0f;
	font-family: "Montserrat", sans-serif !important;
	font-size: 17px;
}
.contentMo p {
	color: rgb(94,54,25);
	font-family: "Montserrat", sans-serif !important;
	margin: 0 0 2.15em;
	font-size: 16px;
	font-weight: 400;
}
footer {
	margin-top: 50px !important;
}
.qodef-title .qodef-title-holder .qodef-title-subtitle-holder-inner {
	text-align: center !important;
}
.page-id-100 footer {
	margin-top: 0px !important;
}
.ui-accordion-header, .qodef-accordion-mark {
	background: #333333 !important;
}
.ui-accordion-header .qodef-tab-title-inner {
	font-size: 18px;
	color: #fff !important;
	text-transform: uppercase;
	font-weight: 400;
}
.qodef-accordion-holder .qodef-accordion-content {
	margin: 0;
	padding: 23px 30px !important;
	font-size: 17px;
	line-height: 25px;
	color: #6a3a0f;
	font-weight: 400;
	background: #fff;
}
.fullImage figure, .fullImage figure img, .fullImage .vc_single_image-wrapper {
	display: block;
	overflow: hidden;
	clear: both;
	width: 100%;
}
body .qodef-single-product-summary .summary .price {
	font-weight: 500;
	font-family: "Montserrat", sans-serif !important;
	color: #c86e1e;
}
body .qodef-single-product-summary .qodef-single-product-title {
	width: 100%;
	color: #6a3a0f;
	font-size: 36px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 44px;
	margin-bottom: 15px;
}
body .qodef-single-product-summary p {
	font-family: "Montserrat", sans-serif !important;
	font-size: 17px;
	font-weight: 400;
	color: #6a3a0f;
	line-height: 25px;
}
.nxtprev {
	display: block;
	overflow: hidden;
	clear: both;
	margin-bottom: 20px;
}
.nxtprev .bttnmo2 {
}
.nxtprev .bttnmo2 a {
	margin: 0;
}
.nxtprev .bttnmo1 {
	display: block;
	float: right;
	width: 107px;
}
.nxtprev a {
	display: block;
	float: left;
	padding: 10px 13px;
	font-size: 24px;
	color: #6a3a0f;
	border: 1px solid #6a3a0f;
	margin-left: 8px
}
.nxtprev a:hover {
	background: #6a3a0f;
	color: #ffffff;
}
.qodef-woocommerce-share-holder {
	display: none !important;
}
.woocommerce-accordions.wc-tabs-wrapper {
	display: none !important;
}
.disNonem {
	display: none !important;
}
ul.products li .qodef-product-list-product-title {
	width: 100% !important;
}
.qodef-top-bar {
	background: #cd8b51 !important
}
body .qodef-top-bar {
	height: auto !important;
}
.qodef-top-bar .widget {
	width: 100%;
}
.top-social .ftrSocial a {
	font-size: 22px;
	margin: 0 5px;
}
.top-social .ftrSocial a:hover {
	color: #000 !important;
}
.top-social {
	margin-top: -3px;
	margin-bottom: 20px;
}
@media all and (min-width: 0px) and (max-width: 639px) {
body.qodef-woocommerce-page .woocommerce-message a {
	width: auto !important;
	height: auto !important;
	line-height: 22px !important;
	padding: 15px 5px !important;
}
header.qodef-mobile-header .qodef-grid {
	width: 95%;
}
header.qodef-mobile-header .qodef-mobile-menu-opener a {
	font-size: 21px;
	color: #cd8b51;
	height: 30px;
}
header.qodef-mobile-header {
	margin-top: 15px;
}
header .qodef-position-right {
	display: none !important;
}
body .x-btn {
	font-size: 13px;
	width: 250px;
}
body .qodef-footer-column-1 p {
	font-size: 16px;
}
body .qodef-footer-column-1 p a {
	display: block;
}
body footer .ftrSocial {
	text-align: center;
}
body footer .ftrSocial img {
	padding-right: 0;
	text-align: center;
	display: block;
	margin: 0 auto 15px;
}
body .qodef-footer-column-1 p.moCopy {
	line-height: 16px;
	font-size: 11px;
}
}
@media all and (min-width: 640px) {
header.qodef-mobile-header {
	display: none;
}
header.qodef-page-header {
	display: block;
}
}
@media all and (min-width: 0px) and (max-width: 1030px) {
body.home .qodef-container-inner {
	width: 100%;
}
body.home .qodef-container-inner .vc_row {
	width: 95%;
	margin: 0 auto;
}
body.home .qodef-container-inner .vc_row:first-child {
	width: 100%;
	margin: 0 auto;
}
body.home .qodef-container-inner .vc_row:first-child .vc_column-inner {
	padding: 0;
}
body div.qodef-top-bar .p-info {
	font-size: 13px;
	padding: 7px 0;
}
body .qodef-woocommerce-product-list-info h5 {
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 10px !important;
	color: #b65e11 !important;
	font-weight: 400;
}
header.qodef-mobile-header .qodef-mobile-nav a:hover {
	color: #000000 !important;
}
header.qodef-mobile-header .qodef-mobile-nav a {
	border-bottom: 0px solid #eaeaea;
	font-size: 16px;
	color: #bb7525;
	padding: 9px 0;
	line-height: 21px;
	text-align: center;
}
header.qodef-mobile-header .qodef-mobile-nav .mobile_arrow {
	font-size: 14px;
	color: #c3853e;
}
}
@media all and (min-width: 1040px) {
body.qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product {
	width: 23%;
	margin-bottom: 45px;
}
body.qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
	clear: left !important;
}
body.qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
	clear: none;
}
body.qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product:nth-child(3n) {
	margin-right: 2%;
}
}
body.page-template-default .woocommerce .qodef-woocommerce-product-list-info, body.page-template-full-width .woocommerce .qodef-woocommerce-product-list-info, body.qodef-woocommerce-page .qodef-woocommerce-product-list-info {
	padding: 15px 5px;
	border: 0px solid #e6e6e6;
	border-bottom: 0;
}
body .qodef-btn-text {
	display: inline-block;
	line-height: 16px;
	vertical-align: middle;
}
body.qodef-woocommerce-page .qodef-quantity-buttons {
	margin-bottom: 15px;
}
 @media all and (min-width: 768px) and (max-width: 1024px) {
.qodef-woocommerce-page .qodef-quantity-buttons .qodef-quantity-minus, .qodef-woocommerce-page .qodef-quantity-buttons .qodef-quantity-plus {
	width: 19px;
	height: 36px;
}
}
@media screen and (max-width: 640px) {
body.qodef-woocommerce-page .woocommerce .coupon input[type=text] {
	width: 260px;
}
.woocommerce-checkout.woocommerce-page table.shop_table td:before {
	left: 20px;
}
body.qodef-woocommerce-page .qodef-quantity-buttons {
	margin: 5px 0 21px !important;
}
.qodef-woocommerce-page table td.product-thumbnail img {
	float: none;
	margin: 0 auto;
}
/* Force table to not be like tables anymore */
.woocommerce-page table.shop_table, .woocommerce-page table.shop_table thead, .woocommerce-page table.shop_table tbody, .woocommerce-page table.shop_table th, .woocommerce-page table.shop_table td, .woocommerce-page table.shop_table tr {
	display: block;
}
/* Hide table headers (but not display: none;, for accessibility) */
.woocommerce-page table.shop_table thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.woocommerce-page table.shop_table tr {
/*border: 1px solid #d2d3d3; */
}
.woocommerce-page table.shop_table td {
	/* Behave  like a "row" */
	border: 0px solid #d2d3d3;
	position: relative;
}
.woocommerce-page table.shop_table tr.cart-subtotal td, .woocommerce-page table.shop_table tr.shipping td, .woocommerce-page table.shop_table tr.total td, .woocommerce-page table.shop_table.order_details tfoot th, .woocommerce-page table.shop_table.order_details tfoot td {
	padding: 0;
}
.qodef-woocommerce-page .woocommerce-checkout-review-order-table tfoot {
	display: flex;
}
.shipping td, .cart-subtotal .woocommerce-Price-amount {
	margin-left: 15px !important;
}
.order-total td {
	padding: 0 0px 0 20px !important;
}
.woocommerce-page table.shop_table {
	border: none;
	max-width: 1030px!important;
}
.woocommerce-page table.shop_table td.product-spacer {
	border-color: #FFF;
	height: 10px;
}
.woocommerce-page table.shop_table td:before {
	/* Now like a table header */
	  /*  position: absolute;
    top: -12px;
    left: 20px;
  
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bolder;*/
	position: absolute;
	top: -12px;
	left: 0;
	width: 100%;
	padding-right: 0;
	white-space: nowrap;
	font-weight: bolder;
}
body.page-id-5 .product-name, body.page-id-5 .product-price {
	margin-bottom: 15px !important;
}
body .woocommerce-table--order-details td, body.woocommerce-page table.shop_table.order_details tfoot th, body.woocommerce-page table.shop_table.order_details tfoot td {
	text-align: left;
	padding-left: 19px !important;
	padding-right: 19px !important;
}
table.shop_table.order_details tfoot tr {
	padding: 5px 0 !important
}
body.woocommerce-page table.shop_table.order_details tfoot {
	width: 100%;
	display: block;
}
body .woocommerce-table--order-details tr {
	border: 1px solid #d2d3d3;
	margin-bottom: 8px;
}
.woocommerce .order_details li, .woocommerce-page .order_details li {
	list-style: none;
	text-align: left;
}
.cart-subtotal .woocommerce-Price-amount amount {
	padding-left: 15px;
}
.qodef-woocommerce-page td.product-thumbnail img {
	display: block !important;
}
/*
Label the data
*/
/*.woocommerce-page table.shop_table td.product-remove:before {
	content: "DELETE";
}
.woocommerce-page table.shop_table td.product-thumbnail:before {
	content: "IMAGE";
}
.woocommerce-page table.shop_table td.product-name:before {
	content: "PRODUCT";
}*/
.woocommerce-page table.shop_table td.product-price:before {
	content: "PRICE";
}
.woocommerce-page table.shop_table td.product-quantity:before {
	content: "QUANTITY";
}
.woocommerce-page table.shop_table td.product-subtotal:before {
	content: "SUBTOTAL";
}
.woocommerce-page table.shop_table td.product-total:before {
	content: "TOTAL";
}
.woocommerce .quantity, .woocommerce #content .quantity, .woocommerce-page .quantity, .woocommerce-page #content .quantity {
	margin: 0;
}
.woocommerce-page table.cart td.actions, .woocommerce-page #content table.cart td.actions {
	text-align: left;
	border: 0;
	padding-left: 6px !important;
}
.woocommerce-page table.cart td.actions .button.alt, .woocommerce-page #content table.cart td.actions .button.alt {
	float: left;
	margin-top: 10px;
}
.woocommerce-page table.cart td.actions div, .woocommerce-page #content table.cart td.actions div, .woocommerce-page table.cart td.actions input, .woocommerce-page #content table.cart td.actions input {
	margin-bottom: 10px;
	width: 80%;
}
.woocommerce-page .cart-collaterals .cart_totals {
	float: left;
	width: 100%;
	text-align: left;
}
.qodef-woocommerce-page td.actions .qodef-cart-proceed-update .checkout-button {
	width: 80% !important;
}
.woocommerce-page .cart-collaterals .cart_totals th, .woocommerce-page .cart-collaterals .cart_totals td {
	border: 0 !important;
}
.woocommerce-page .cart-collaterals .cart_totals table tr.cart-subtotal td, .woocommerce-page .cart-collaterals .cart_totals table tr.shipping td, .woocommerce-page .cart-collaterals .cart_totals table tr.total td {
	padding-left: 6px !important;
}
.woocommerce-page table.shop_table tr.cart-subtotal td, .woocommerce-page table.shop_table tr.shipping td, .woocommerce-page table.shop_table tr.total td, .woocommerce-page table.shop_table.order_details tfoot th, .woocommerce-page table.shop_table.order_details tfoot td {
	padding-left: 6px !important;
	border: 0 !important;
}
.woocommerce-page table.shop_table tbody {
	padding-top: 10px;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2, .woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
	float: none;
	width: 100%;
}
.woocommerce .order_details ul, .woocommerce-page .order_details ul, .woocommerce .order_details, .woocommerce-page .order_details {
	padding: 0;
}
.woocommerce .order_details li, .woocommerce-page .order_details li {
	clear: left;
	margin-bottom: 10px;
	border: 0;
}
.qodef-woocommerce-page .woocommerce-error, .qodef-woocommerce-page .woocommerce-info, .qodef-woocommerce-page .woocommerce-message {
	line-height: 25px !important;
}
body.qodef-woocommerce-page .woocommerce-message a {
	display: block;
	width: 50%;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
	float: none;
	margin-bottom: 16px;
}
body .qodef-single-product-summary .qodef-single-product-title {
	font-size: 26px !important;
	line-height: 26px !important;
}
}
body.qodef-woocommerce-page .woocommerce-message a {
	border-color: #6a3a0f;
	background: #6a3a0f;
}
body.qodef-woocommerce-page .woocommerce-message a:hover {
	border-color: #2d2d2d;
	background: #2d2d2d;
}
.woocommerce-checkout-review-order-table.mmoohh tr {
	border: 1px solid #ccc !important
}
.qodef-woocommerce-page .qodef-woocommerce-product-list-add-to-cart-button-holder .add_to_cart_button,  .qodef-woocommerce-page .qodef-woocommerce-product-list-details-button-holder .single_view_product_button, .page-template-default .woocommerce .product.outofstock .single_view_product_button, .page-template-full-width .woocommerce .product.outofstock .single_view_product_button, .qodef-woocommerce-page .product.outofstock .single_view_product_button {
	border: 0 !important;
}
.momSearchfrmm {
	display: none;
}
.qodef-search-opener.momSearch {
	display: block;
	float: right;
	margin-top: -12px;
	color: #d68229;
}
.searchFrminp {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px -3px #000;
	margin-bottom: 17px;
}
 @media print {
	 table.woocommerce-table--customer-details, table.woocommerce-table--order-details{width:685px;}
	 .woocommerce-order-details__title, .woocommerce-customer-details h2{font-size:25px !important;}
	 .woocommerce-column.woocommerce-column--1,
	 .woocommerce-column.woocommerce-column--2{width:300px;float:left;border:1px solid #cccccc;padding:0 20px;margin-top:10px;}
body {
	font-size: 11px;
}
.site-title,  .site-description,  h2,  h3 {
	font-size: 12pt;
}
.qodef-top-bar,
.qodef-page-header,
footer .qodef-footer-inner,
.custom-header-media,  .entry-title,  #wc-print-button,  .site-description {
	display: none !important;
}
.site-branding,  .custom-header,  .page:not(.home) #content,  #content .site-content {
	margin: 0 !important;
	padding: 0 !important;
}
}
#wc-print-button {
	display: inline-block;
	text-decoration: none;
	margin: 8px 10px 8px 0;
	padding: 5px 15px;
	border: 0;
	color: #fff;
	background-color: #b9762c;
	border-radius: 3px;
	 float: right;
}
#wc-print-button:hover {
	background:#7b5225;
	color: #fff;
}
body .qodef-woocommerce-product-list-details-button-holder, 
body .qodef-woocommerce-product-list-add-to-cart-button-holder{display:none !important}
#customer_login .register h3{ display:none !important}
#customer_login .register div{ display:none !important}
.single_variation_wrap p.stock{display:none !important;}
/*body.qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product:nth-child(5n) {
    
    clear: left !important;
}*/
 .qodef-single-product-summary{-webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;}
 .woocommerce-checkout form.login  .lost_password{display:none;}

input .input-text {height: 50px !important;}

.woocommerce form .form-row input.input-text{
    height: 50px !important;
}

body div.quantity  {
    margin-bottom: 15px !important;
}
body div.variations_button  {
    margin-top: 15px !important;
	display: block !important;
}
/*body .woocommerce-price-suffix{display: none !important}*/
