/*

  Theme Name:   PageLines.com
  Theme URI:    http://pagelines.com/

  Description:  The PageLines framework child theme used for PageLines.com.

  Author:       PageLines
  Author URI:   http://pagelines.com

  Template:     pl-framework

  Version:      10.0.98

  Text Domain:  pagelines

  Tags:         themes, simple

  Category:     framework, framework-theme, free

*/
.code-block {
  font-size: 14px;
}
.code-block pre[class*="language-"] {
  padding: 1.4em;
}
.doclist-sidebar {
  font-size: 14px;
}
.doclist-sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: circle;
  list-style-position: inside;
}
.doclist-sidebar ul > li a {
  color: inherit;
  transition: opacity .2s;
  display: block;
}
.doclist-sidebar ul > li a .wrp {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.doclist-sidebar ul > li > a:active {
  opacity: .2;
  transition: opacity 0s;
}
.doclist-sidebar ul > li.level2 {
  margin-top: 1em;
}
.doclist-sidebar ul > li.level2 a {
  line-height: 1.2;
  font-weight: 600;
  margin-top: 5px;
  font-size: 1.1em;
}
.doclist-sidebar ul > li.level3 {
  margin-top: 15px;
}
.doclist-sidebar ul > li.level3 + .level3 {
  margin-top: 0;
}
.doclist-sidebar ul > li.level3 a {
  padding-left: 15px;
}
.doclist-sidebar ul > li.level4 a {
  font-size: 12px;
  padding-left: 30px;
}
.docs-example {
  padding: 1em 2em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 2em;
}
.grid-example .wrap {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  outline: 1px solid #eee;
  background-color: rgba(0, 0, 0, 0.03);
  margin-bottom: 10px;
}
.btns-example span {
  display: inline-block;
  margin: 10px;
}
.scheme-example {
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 2em;
  margin: 1em 0;
}
.scheme-example .header {
  font-size: 1.6em;
}
.scheme-example.pl-scheme-light {
  background: rgba(0, 0, 0, 0.35);
}
.alignment-examples > div {
  outline: 1px solid #eee;
  margin-bottom: 1em;
  padding: 10px 30px;
}
.icons-examples {
  text-align: center;
}
.icons-examples i {
  margin: 15px;
}
.ddorangebg {
  background-color: #c86e1e;
}
.woocommerce form .form-row input.input-text {
    height: 50px !important;
}
.woocommerce-page .woocommerce .coupon input[type=text], .woocommerce-page .woocommerce .coupon input[type=email], .woocommerce-page .woocommerce .coupon input[type=tel], .woocommerce-page .woocommerce .coupon input[type=password], .woocommerce-page .woocommerce .coupon textarea, .woocommerce-page .woocommerce .form-row input[type=text], .woocommerce-page .woocommerce .form-row input[type=email], .woocommerce-page .woocommerce .form-row input[type=tel], .woocommerce-page .woocommerce .form-row input[type=password], .woocommerce-page .woocommerce .form-row textarea {
    width: 100%;
    padding: 15px;
    outline: 0;
    resize: none;
    font-family: inherit;
    line-height: 20px;
    background-color: #f6f6f5;
    color: #7f8385;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    vertical-align: top;
}
/* Make product titles black */
.woocommerce ul.products li.product a {
  color: #000000;
}
/* big orange headings */
.bigorangeheading {
  color: #c86e1e;
  font-size: 31px; 
  font-weight: 600;
  text-align:center;
}
/* Make headings DD orange */
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    color: #c86e1e;
}
/* Hide select options buttons */
.woocommerce ul.products li.product .button {
    display: none;
}
/* Hide sku on product pages */
.sku_wrapper {
  display: none;
}
/* Reduce padding above loop/content */
.pl-content-layout {
    padding-top: 2em;
}
#container_u5vim71 a:link {
  color:#FFFFFF !important;
}
#text_u6k8sxr a, #widgets_u358gch a {
  color:#FFFFFF;
}
/* Make main menu text uppercase */
.meganav-nav, .pl-meganav-mobile {
  text-transform:uppercase;
}
/* Reduce l+r padding on mobiles */
@media only screen 
  and (max-device-width: 812px){
.pl-content-layout .pl-content-loop {
  padding-right:0px;
  padding-left:0px;
  }}
/* Reduce l+r padding on mobiles */
@media only screen 
  and (max-device-width: 812px){
.pl-content-area {
  padding-right:0px;
  padding-left:0px;
  }}
/* Reduce go to button size on mobiles */
@media only screen 
  and (max-device-width: 812px){
.pl-btn-lg, .pl-btn-lg[type="submit"] {
    padding: 0.6em 1.3em;
    font-size: 12px;
  }}
/* Make coupon box wider */
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 150px;
}
/* Increase button size on mobiles */
@media only screen 
  and (max-device-width: 812px){
  .pl-btn-lg, .pl-btn-lg[type="submit"] {
    padding: 0.8em;
    font-size: 14px;
    line-height: 1.4em;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: -0.03em;
  }}

#text_u87d2f4 a {
  color:#FFFFFF;
}
#container_u5vim71 .btn-search {
  color: #FFFFFF !important;
}
#container_u5vim71 .search-field, .search-submit {
    border-color: #FFFFFF;
}
.topbar {
  font-size:20px;
  color: #FFFFFF;
}
/* Reduce top bar size on mobiles */
@media only screen 
  and (max-device-width: 812px){
  .topbar {
  font-size:10px;
  }}
/* Make meganav text uppercase */
.pl-nav {
  text-transform:uppercase;
}
/* Big red text for announcements */
.bigredtext {
  font-size:2em;
  font-weight:bold;
  color:#FF0000;
}
.woocommerce-price-suffix {
  display:none;
}
.bottomorangeborder {
  border-bottom: 2px solid #c86e1e;
}
/* Styling for text box used as "buttons" on home page */
.buttonborder {
	border: 2px solid #c86e1e;
	border-radius: 8px;
	color: #c86e1e;
}
#text_go-to-shop-text-button a, a:hover{
	text-decoration: none !important;
}
/* Hide product page metabar & pagination */
.page-title-sub, .metabar, .pl-pager {
    display: none;
}
#comments {
	display:none;
}
#wpfront-notification-bar a.wpfront-button {
	font-size:20px;
}
/* Remove margin above h3 headings on "Alcohol Free and Low Alcohol Wine Taster Packs" page */
.zerotopmargin {
	margin-top: 0;
}
/* Remove margin below images on "Alcohol Free and Low Alcohol Wine Taster Packs" page */
.aligncenter {
    margin-bottom: 0;
}
/* Make top bar button text slightly smaller on mobile screens */
@media only screen 
  and (max-device-width: 812px){
#wpfront-notification-bar a.wpfront-button {
    font-size: 15px;
	  }}
.smalltext {
	font-size:0.73em;
}
#subscribe_to_newsletter_field {
	font-size:0.73em;
}
/* Reduce space below header search field */
#search-7 {
    margin-bottom: 0.25em;
}
/* Hide header search field on mobile screens */
@media only screen 
  and (min-device-width: 768px){
#widgets_uebuaoj {
    display:none;
}} 
/* Make search field border thicker & darker */
.search-field, .search-submit {
    border-width: 2px !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
}
.sc_info_box, .sc_info_box h3 {
	color:#FF0000;
}
.fathersday {
	width: 100%;
	height: 100px;
}
