@import "../vars.less";
@import "../mixins.less";


/* LEAF MENU ICON (ALL PAGES) */

#adminmenu .toplevel_page_pl-platform-settings .wp-menu-image:before{
  font-family: 'PageLinesFont'; 
  content: "\f18c";
}

#wpadminbar .pl-ab-item{
  .pl-icon{
    margin-left: 2px;
    transition: margin .2s;
  }
  &:hover .pl-icon-caret-right{
   margin-left: 7px;
  } 
  
}


div.pl-notice{
  display: block;
  position: relative;
  border-left-color: #000;
  .pl-icon{
    width: 20px;
    text-align: center;
    opacity: .5;
  }
  a{
    margin: 0 10px;
  }
}
.pl-notice-dismiss {
  float: right;
  margin: 0;
  
  border: none;
  opacity: .4;
  background: none;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
  
}


/* PAGELINES ADMIN SETTINGS *****/

#customize-controls{
  background: #fff;
  .pl-wp-customizer{ padding: 14px; }
  .pl-logo{ max-height: 30px; float: right;}
  .pl-logo-text{ 
    text-transform: uppercase;
    font-weight: 600;
    opacity: .3;
    line-height: 30px;
  }
  .customize-control{ margin: 10px 0; }

  .customize-control-description{
    margin: 1em 0; 
    opacity: .7; 
    font-size: .9em;
    &.pl-hide{
      display: none;
    }
  }
  .customize-control-title{
    .pl-more-info{
     
      font-size: .8em; 
      opacity: .5;
      margin-left: 1em;
      display: inline-block;
      float: right;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
      .pl-icon-caret-down{
        display: inline-block;
      }
      .pl-icon-caret-up{
        display: none;
      }
    
      &.show-info{
        opacity: .8;
        .pl-icon-caret-down{
          display: none;
        }
        .pl-icon-caret-up{
          display: inline-block;
        }
      }
    }
  }
}


.pagelines-admin{
  .pl-banner-wrap{
    letter-spacing: -.03em;
    .banner-title{
      text-align: left;
      font-weight: 600;
      margin: 1.5em 0 .5em;
      opacity: .4;
      
    }
    text-align: center; 

    &.banner-dashboard{

      .pl-platform-banner{
        width: 650px;

        .pl-platform-banner-inner{
          padding: 3em;
          background-color: #f7f7f7;
          border: 1px solid #ddd;
        }
      }

    }
    &.banner-cards{

      .pl-platform-banner{
        width: 650px;

        .pl-platform-banner-inner{
          padding: 6em 2em;
          .flex-direction( column-reverse );
          text-align: center;
          .banner-body.with-image{
            text-align: center;
            margin-right: 0;
          }
          .image-wrap{
            text-align: center; 
            margin-bottom: 1em;
            img{
              display: inline-block;
            }
          }
        }
      }

    }
  }
  .pl-platform-banner{
    
  
    display: inline-block;

    .button{
      height: auto;
      padding: .3em 1.5em;
    }
    .pl-platform-banner-inner{
      
      text-align: left; 

      .flex-display();
      .justify-content(space-between);
    }
    .actions{
      margin-top: 2em;
     .button .pl-icon{
      opacity: .7;
     }
    }
    .banner-body.with-image{
      text-align: left;
      margin-right: 2em;
      .flex-grow(1);
      .flex-vertical();
    }
    .pl-platform-banner-content{
      padding-bottom: 10px;
      .button + .button{
        margin-left: .6em;
      }
    }
    h2{
      padding: 0;
      font-size: 35px;
      line-height: 1.5em;
      
      font-weight: 600;
      margin-bottom: .5em;
    }
    .banner-subheader{
      font-size: 1.1em;
      line-height: 1.6em; 
      opacity: .6; 
      margin: .4em 0 1.3em 0;
    }
    .banner-supheader{
      font-size: 1.3em;
      line-height: 1.5em;
      opacity: .7;
    }
    img.avatar{
      max-width: 100%;
      width: 175px;
      height: auto;
      border-radius:50%;
      border: 1px solid #ccc;
      display: block;
    }
  }

  .pl-loading-banner{
    .ic{font-size: 5em;} 
    color: #ddd;
    text-align: center; 
    padding: 200px;
    text-transform: uppercase;
  }

  .pl-dashboard{
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .subtle-actions{
    margin: 4em 0 0;
    text-align: right;
  }

  .row.boxed{

    .pad{
      flex: 1;
      border: 1px solid #ddd;
      padding: 2em;
      background: #f7f7f7;
      :first-child{
        margin-top: 0;
      }
    }
  }

  /** STORE */
  
  .pl-store-head{
      padding: 1em;
      border-bottom: 1px solid #eee;
    h2{
      float: left; 
      padding-top: 3px;
      line-height: 40px;
      letter-spacing: -.02em;
    }
    .search-form{
      float: right;
      .wp-filter-search{
        padding: .8em 1em;
        width: 30vw;
        background: rgba(0,0,0,.02);
      }
    }
  }

  .pl-cards-ui{
    .pl-cards-wrap{
      .flex-display();
      min-height: 40em;
    }

    .pl-cards-nav, 
    .pl-cards-sidebar{
      transition: opacity .6s;
      opacity: 0;
      &.loaded{
        opacity: 1;
      }
    }
    .pl-cards-nav{
      min-width: 170px;
      font-size: 12px;  
      text-align: right;
      ul{
        margin: 0;
        padding: 0;
      }
      lh, 
      li > a{
        line-height: 1.5em;
        padding: .4em 1em;
        
      }
      lh{
        display: block;
        margin-top: 1em;
       
        font-weight: 600; 
        text-transform: uppercase;
        border-bottom: 1px solid #ddd;
      }
      li{
        margin: 0;
        > a{
          
          text-decoration: none;
          display: block;

          &.current, 
          &:hover, 
          &:focus, 
          &:active{
            color: inherit;
            background: rgba(0,0,0,.05);
            outline: 0;
            box-shadow: none;
          }
        }
      }
      .card-nav-actions{
        text-align: right;
        padding: 1em;
        margin-top: 1em;
      }
      .button-refresh{
        margin-top: 2em;
        opacity: .4;
        &:hover{
          opacity: 1;
        }
      }
    }

    .pl-cards-sidebar{
      min-width: 200px;
      width: 200px;
      padding-left: 2em;

      .sb-item{
        margin-bottom: 3em;
      }
      .thm{
        float: right; 
        max-width: 50px;
      }
    }

    .pl-cards{
      .flex-grow(1);

      background: #fff;
      border: 1px solid #ddd;
      padding: 2vw;

      .pl-platform-banner{
        margin-top: 0;
        
      }
      .pl-product-card{
        min-width: 120px;
        max-width: 50%;
        margin-bottom: 2em;
        opacity: 0; 
        transition: opacity .7s; 

        &.animation-loaded{
          opacity: 1;
        }
        .pl-product-card-pad{
          position: relative;

        }

        .metabar{
          font-size: .9em;
          opacity: .3;
          margin: .4em 0;
          .version{
            float: right;
          }
        }

        .column-description p{
          font-size: .9em;
          opacity: .7;
        }
        
        .pl-product-thumb{
          display: block;
         
          &:hover{
            opacity: .8;
          }
          img{
            max-width: 100%; 
            display: block;
          }
        }
        .modified {
          opacity: 0.3;
        }
        .card-content,
        .modified,
        .product-meta{
          padding: 1em 0;

        }
        h4{
          font-size: 1.4em;
          margin: 0;
          a{
            color: inherit;
            text-decoration: none;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            display: block;
            line-height: 1.4em;
          }
        }

        .card-tags{
          
          margin-top: 1em;
          a{
            color: inherit; 
            opacity: .4;
            padding-
            &:hover{
              opacity: 1;
            }
          }
          .comma{
            opacity: .4;
          }
        }
        .product-meta{
          font-size: 11px;
          border-top: 1px solid #eee;
          // position: absolute;
          // bottom: 0;
          // width: 100%;
          // padding: 10px;
          // 
          overflow: hidden;
          left: 0;
          box-sizing: border-box;
          
          .star-rating{
            display: inline-block;
            .star{
              width: 15px;
              height: 15px;
              font-size: 15px;
            }
          }
        }
      }

      .pl-store-pagination{
        a{
          display: inline-block; 
          font-size: 1.5em; 
          color: inherit; 
          text-decoration: none; 
          padding: .7em 1em;
          background: #fafafa;
          border: 1px solid #ddd; 
          margin-right: .4em;
          &:hover, 
          &.current{
            background: #eee;
          }
        }
      }
    
    }
  }

  .pl-product-card{
    .plugin-icon {
      width: auto;
      float: left;
      position: static;
      img{
        width: 200px;
      }
    }
    .product-meta .divider{
      margin: 0 0.7em;
        opacity: .2;
    }
  }
}


/* Shortcodes Engine */
#TB_window{
  overflow-y: scroll;
}
.plsc{
  padding-bottom: 100px;
  .plsc-list{display: block;}
  .plsc-engine{display: none;}
  &.show-engine{
    .plsc-list{display: none;}
    .plsc-engine{display: block;}
  }
  .plsc-breadcrumb{
    color: #ddd;
    border-bottom: 1px solid #eee; 
    padding: 1em; 

  }
  .plsc-iframe-label{
    text-transform:uppercase; 
    color: #ddd;
    
    font-weight: 600;
    border-bottom: 1px solid #eee;
    
    padding-bottom: 1em;
    line-height: 28px;
    
  }
  .plsc-show-list{
    float: right;
  }
  .plsc-actions{
    
    bottom: 0;
    padding: 1.5em;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    input[type="button"], 
    .button-secondary{
        margin-right: 1em;
    }
  }
  .plsc-option{
    padding: 3em;
    border-bottom: 1px solid #eee;
  }
  .plsc-option-label{
    color: #838383;
    text-transform: uppercase;
    margin-bottom: .5em;
    display: inline-block;
  }
  .plsc-option-description{
    color: #ddd; 
    display: inline-block;
    margin-top: .5em;
  }

  input[type="text"], 
  input[type="number"], 
  textarea, 
  select {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .plsc-drawer{
    padding: 2em 0;
    min-height: 500px;
    .plsc-item{
      width: 20%;
      float: left;
    }

    a{
      display: block;
      color: inherit;
      padding: .5em;
      text-decoration: none;
      margin: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px solid #ddd;
      font-size: 11px;
      font-weight: 600;
      color: #777;
      &:hover{
        background: #f7f7f7;
      }
      .pl-icon{
        opacity:.6;
        width: 20px;
        text-align: center;
      }
    }
    
  }

}

.wp-media-buttons .pl-shortcodes-button.button i {
  padding-top: 3px;
  padding-right: 7px;
  color: #82878c;
}
#TB_window.plsc-options-show .plsc-options {
  display: block;
}
.plsc-options {
  display: none;
}



#TB_window{
  padding: 0 10px 10px 10px;
  .iframe-wrap{
    background: #fff;
  }
}

#TB_title {
  background: #fff !important;
  border-bottom:none !important;
}



/* iframe */
.free-iframe {
  background-color: #fff;
  text-align: center;
  height:100%;
  padding-top:20px;

}
.free-iframe .spinner{
  float:none;
  visibility:visible;
}
#message .auth-button{
  padding-top:5px;
}
#message .auth-text{
  padding:10px;
}

/* iframe */
.purchase-iframe {
  background-color: #fff;
  height:787px;
  margin-top:-32px;
}

/* Absolute Center CSS Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
}

.loading .spinner {
  float:none;
  visibility:visible;
}










.wp-customizer .CodeMirror{
  border: 1px solid #ddd;
  height: 100px;
}



.toplevel_page_PageLines-Admin{

  #wpcontent{
    background: #fff;
  }
  
  
  .nav-tab{
    background: #eee;
    border-bottom: 1px solid #ddd;
  }

  .nav-tab-active, 
  .nav-tab-active:hover{
    background: #fff;
    border-bottom: 1px solid #fff;
  }

} 

#adminmenu .menu-top.toplevel_page_PageLines-Admin{
  .wp-menu-image img{
    width: 19px;
    margin-top: -2px;
    
  }
  &.current .wp-menu-image img{
    opacity: 1;
  }
} 




  
/** Navigation */

#pl-platform-meta{
  .pl-tab-panel{

    background: transparent; 
    border: none;
    border-left: 1px solid #eee;

  }
  .pl-settings-tabs .pl-settings-nav li a.selected{
    background: #f7f7f7;
  }
}

.pl-settings-tabs{

  .flex-display();
  .flex-direction();
  
  opacity: 0; 
  transition: opacity .2s;
  padding: 20px 0;
  max-width: 1000px;
  &.loaded{
    opacity: 1; 
  }
  
  .pl-tab-panel-container{
    .flex-grow(1);
  }
  .pl-settings-nav{
    width: 200px;
    margin: 0; 
    padding: 0;
    li{
      margin: 0;
      &:focus{
          outline: none;
        }
      a.selected{
        
        color: #222;
        background: rgba(0,0,0,.05);
      }
      &:hover{
        background: rgba(0,0,0,.03);
      }
      &:active a{
        background: rgba(0,0,0,.08);
      }
      a{
        display: block;
        padding: 8px 12px;
        text-decoration: none;
        color: #777;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:focus{
          outline: none;
          box-shadow: none;
        }
        &.tab-disabled{
          opacity: .5;
          cursor: default;
        }
        .pl-icon{
          width: 15px;
          text-align: center;
          margin-right: 3px;
        }
      }
    }
  }



  .pl-tab-panel{
    max-width: 700px;
    width: 100%;
    border: 1px solid #ddd;
    background: #fff;
    display: none;
    min-height: 620px;
    p label input[type=checkbox]{
      margin-top: 0; // WP styles over ride..
    }

    &.selected{
      display: block;
    }
    .pl-option-row{
      border-top: 1px solid #eee;
      padding: 25px 30px;
      &.layout-full .pl-option,
      &.type-longform .pl-option{
        width: 100%; 
        margin: 0;
      }
    } 
    .pl-option-cols{
      .flex-display();
      .flex-direction(row);
      
    }
    .pl-option-title, 
    .pl-option-label{
      font-weight: 600;
      line-height: 1.5em;
      margin-bottom: 1em;
      display: block;
      
    }
    .pl-option-label{
      opacity: .35;
      margin: 1em 0 .4em;
    }
    .pl-panel-description{
      background: #f7f7f7; 
      padding: 15px 30px;
      border-top: 1px solid #eee;
      h3{
        margin: 0 0 5px;
        font-size: 12px;
      }
      p{
        font-size: 11px;
        line-height: 1.4em;
        color: #777;
        max-width: 500px;
        a{
          color: #444;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .pl-option{
      width: 60%;
      margin-right: 3%;
      padding: 0 20px;
      textarea{
        width: 100%;
        height: 100px;
      }
      input[type="text"].opt-text{
        width: 100%;
      }
    }
    .pl-settings-help{
      &, p{
        font-size: 12px;
        line-height: 1.4em;

      }
      .pl-help-content{font-style: italic; color: #999;}
      .pl-di-icon-up{
        display: none;
      }
      .pl-di-icon-down{
        display: inline-block;
      }
      width: 37%;
      &.item-closed{
        .pl-di-icon-down{
          display: none;
        }
        .pl-di-icon-up{
          display: inline-block;
        }
        .pl-help-content{
          display: none;
        }
      }
      .pl-help-title{
        cursor: pointer;
        text-transform: uppercase; 
        opacity: 0;
        font-weight: 600;
        margin: 4px 0;
      }
    }
    
    .label-radio{
      display: block;
      font-size: 12px;
      margin: 10px;
      font-weight: 600;
      input{
        margin-right: 10px;
      }
    }

    .pl-range-output{
      vertical-align: top;
      background-color: #f7f7f7;
      color: #aaa;
      padding: .5em;
      font-weight: 600;
      margin-left: .5em;
    }

    .welcometext{
      .intro{
        h3{
          font-size: 25px;
        }
        p{
          font-size: 17px;
        }
      }
      .theme-screen{
        float: right;
        display: block;
        margin-left: 1.5em;
        margin-bottom: 5px;
        max-width: 150px;
        background: #fff;
        padding: 5px;
      }
      .reference-list{

        
        li{
          padding-left: 60px;
          position: relative;
          padding: 10px 0 10px 60px;
          margin: 0;
          margin-bottom: 2em;
          h4{
            margin-top: 0;
          }
          p{
            color: #777;
            &:last-child{
              margin-bottom: 0;
            }
          }
          .button i{
            opacity: .4; 
            margin-right: 5px;
          }
        }
        .list-icon{
          font-size: 40px;
          line-height: 40px;
          display: block;
          position: absolute;
          left: 0;
          width: 40px;
          i{
            opacity: .1;
          }
          img{
            max-width: 100%; 
            display: block;
            border-radius: 50%;

          }
          
        }
      }
      .signature{
        img{
          width: 130px;
        }
        .citation{
          opacity: .3;
        }
      }
    }
  }
}

/**
 * Codemirror / Scripts
 */

// .CodeMirror-empty { outline: 1px solid #c22; }
// .CodeMirror-empty.CodeMirror-focused { outline: none; }
.CodeMirror{font-size: 10px; }
.CodeMirror pre.CodeMirror-placeholder { color: #CCC; }

.codemirror-wrap .CodeMirror{
  border: 1px solid #ccc;
  height: 250px;
}


/* OPTIONS LAYOUT */ 
.tabinfo .form-table .titledesc{
  padding: 20px;
}
.pl-save{
  margin-top: 30px;
  padding: 30px 0;
  border-top: 1px solid #ddd;
  text-align: center;
}
.pl-save .button, 
.pl-admin-settings .pl-large-button{
  padding: 8px 20px;
  font-size: 17px;
  height: auto;
  
}
/* OPTIONS */ 

.pl-panel-header{
  font-size: 1.5em;
  padding: 1em;
  line-height: 1.1em;
  background: #fafafa;
  margin: 0;
  .pl-icon{
    opacity: .2; 
    margin-right: .5em;
    vertical-align: top;
  }
  small{
    font-size: 12px;
    line-height: 1em;
    font-weight: 300;
  }
}

.pl-opt[type=email], 
.pl-opt[type=number], 
.pl-opt[type=password], 
.pl-opt[type=search], 
.pl-opt[type=tel], 
.pl-opt[type=text], 
.pl-opt[type=url], 
select.pl-opt, 
textarea.pl-opt {
  border: 1px solid #bbb;
  border-radius: 2px;
  padding: 4px;
  line-height: 19px;
  margin: 0;
}

span.description{
  margin: 0 0 .5em 0;
  font-size: .9em;
  display: block;
  opacity: .7;
}


.label-standard{
  font-size: 13px;
  margin: 5px 0;
  display: block;
  text-transform: uppercase;
  opacity: .7;
}

.label-small{
  font-size: 11px;
  display: block;
  margin-bottom: 3px;
}

.checklist-btns{
  margin: 0 0 10px;
}

.select-contain{
  display: inline-block;
  margin-right: 5px;
}

.pl-colorpicker{
  opacity: 0;
  transition: opacity .5s;
}
.pl-colorpicker.is-ready{
  opacity: 1;
}

.script_input_wrap{
  opacity: 0;
  transition: opacity 1.5s;
}

.script_input_wrap.is-ready{
  opacity: 1;
}

/* IMAGE UPLOADER */ 
.image_uploader{

  display: flex;
  flex-direction: row;
  .upload_image_option{
    max-width: 100%;
  }
}
.image_preview{
  float: left;
  margin-right: 15px;
  width: 80px;
  text-align: right;
  .image_preview_wrap{
    padding: 5px;
    background: #fff;
    border: 1px solid #bbb;
    display: inline-block;
    max-width: 100%;
  }
  img{
    height: auto;
    max-width: 100%;
    display: block;
  }
} 
.image_input{

  float: left;
}


/* IMPORT / EXPORT */ 

.checklist-label{
  background: #e1e1e1;
  padding: 10px;
  margin-bottom: 15px;
}
.checklist-label .bd .ttl{
  font-weight: 600;
}
.checklist-label .bd p{
  font-size: 11px;
}

/* MEDIA OBJECT */
.media{
  overflow:hidden;
  overflow: visible;
  zoom: 1;
  display: block;
}
.media > .bd{
    display:table-cell;
    vertical-align: top;
    width: 10000px;
    *display:block;
    *width:auto;
    zoom:1;
}
.media > .bd > :first-child{margin-top:0;}
.media > .bd > :last-child{margin-bottom:0;}

.media > .img{
    max-width: 25%;
    float:left;
    margin-right: 15px;
    text-align: center;
}

.media > .img > img{
  display: inline-block;
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  width: auto\9;

}


/* METABOXES */
.pagelines-metabox-table th{
  width: 30%;
}

.pagelines-metabox-table label{
  font-weight: 300;
}
.pagelines-metabox-table label strong{
  display: block;
}

.pagelines-metabox-table .redux-opts-screenshot{
  max-width: 250px;
}


.saving-confirm{
  
  display: none;
  margin: 0 15px; 
  color: #000;
}

/* Forms */
.pl-input-field{
  margin: 1em 0;
}

.pl-input-field label{
  
  font-size: 90%;
  display: block;
}

.pagelines-admin .form-table{
  margin-bottom: 0;
}
.pagelines-admin td p{
  max-width: 600px;
  font-size: 14px;
  line-height: 1.4em;
  margin-bottom: 1em;
}

.pagelines-admin td .update-nag{
  margin: 0;
  padding: 6px 15px;
  text-align: left;
}
