@import "../vars.less";
@import "../mixins.less";
@import "../normalize.less";



@import "plugins.less";


@menu-height: 32px;
@sidebar-width: 290px;
@pldd-outline: rgba(0, 0, 0, 0.2);


/* ## Defaults
--------------------------------------------- */
html{
  font-size: 16px;
}

body {
  background-color: #fff;
  color: #333;
  font-family: @pl-default-font;
  
  line-height: 1.625;
  margin: 0;
}

/* ## Links
--------------------------------------------- */
a {
  color: #2780E3;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* ## Headings
--------------------------------------------- */
h1, 
.h1, 
h2, 
.h2, 
h3, 
.h3, 
h4, 
.h4, 
h5, 
.h5, 
h6, 
.h6{
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 1rem;

  > a {
    color: inherit;

    &:hover{
      opacity: .8;
      text-decoration: none;
    }

  }
}

h1, .h1 {
  font-size: 3.0em;
}

h2, .h2 {
  font-size: 2.0em;
}

h3, .h3 {
  font-size: 1.5em;
}

h4, .h4 {
  font-size: 1.2em;
}

h5, .h5 {
  font-size: 1em;
}

h6, .h6 {
  font-size: .9em;
}



.pl-workarea{
  

  .pl-panels{
    width: 280px;
  }
  .pl-viewport{
    margin-right: 280px;
    position: relative;
    height: 100%;
    background: 0 0;
    z-index: 500000;
    position: fixed;
    overflow: visible;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    min-width: 0;
    .pl-iframe-wrap{
      position: absolute; 
      width: 100%; 
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      > iframe{
        width: 100%; 
        height: 100%; 
      }
    }
  }

  .iframe-container{
    width: auto;
    height: auto;
    overflow: hidden;
    position: fixed;
    top: @menu-height;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    
    z-index: 4;
    opacity: 1;
    
    transition: right 100ms;

    @media (max-width: 782px){
      top: 46px;
    }

    > iframe{
      transform: translateZ(0);
      width: 100%;
      height: 100%;
      margin: 0;
      z-index: 10;
      position: relative;
    }

    .iframe-loading-overlay{
      text-align: center; 
      position: absolute; 
      top: 0;
      left: 0;
      width: 100%; 
      height: 100%;
      color: inherit;
      opacity: .1;
      padding: 50px;
      font-size: 60px;
      display: none;
      &.show-overlay{ 
        display: block; 
      }
      .loading-graphic{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .pl-workarea-sidebar-container {
    position: fixed;
    right: -290px;
    top: @menu-height;
    z-index: 13;
    bottom: 0;
    width: @sidebar-width;

    transition: right .1s;
    background: #fff;
    color: #666;
    border-left: 1px solid #ddd;  


  
    .pl-workarea-sidebar {
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      font-size: 12px;
      .sb-title{
        font-weight: 600;
        font-size: 1.3em;
        padding: .7em;
        box-shadow: inset 0 0 1px #fff;

        text-align: center;
        color: #CCC;
        .sb-sub{
          text-transform: uppercase;
          font-size: 10px;
          opacity: .8;
        }
      }
      .the-header{
        border-bottom: 1px solid #eee;
        margin-bottom: .7em;
        .tool-action{
          padding: 10px;
          margin: 0;
          font-size: 13px;
          font-weight: 500;
          opacity: .6;
          cursor: pointer;
          float: left; 
          &.send-right{
            float: right;
          }
          &:hover{
            opacity: 1;
            background: #f7f7f7;
          }
        }
      }
      
      
      

      ul.pl-tools-list{
        
        &.list-media{

          > li{
            
            [contentEditable="true"]:focus{
              box-shadow: none; 
              outline: 1px solid rgba(0,0,0,.2); 
              background: #fff;
            }
            
            .tools-bar{
              
              padding: 6px 12px;
              display: flex; 
              flex-direction: row; 
              font-size: 12px;
              line-height: 1.2em;
              font-weight: 600;
              border-bottom: 1px solid #eee;
              i{
                opacity: .7;
                margin-right: 8px;
              }
              &:hover{
                background-color: rgba(0,0,0,.03);
                cursor: pointer;
              }
            }
            
            .actions{
              margin-left: auto;
              
            }
            .name{
              font-weight: 600;
            }
            
            
            .tools-panel{
              display: none;
              padding: 10px;
              border-bottom: 1px solid #eee;
              ul{
                
                li{
                  font-size: 10px;
                  padding: 4px 5px;
                  cursor: pointer;
                  font-weight: 600;
                  &:hover{
                    background-color: #eee;
                  }
                  i{
                    width: 15px;
                    text-align: center;
                    opacity: .3;
                  }
                }
              
              }
            }
            .tools-description{
              font-size: 10px;
              margin: 0 0 5px;
            }
          }
          
        }
      
      }

      .dd-reorder{
        padding: 1px;
        margin-right: 2px;
        color: inherit;
        opacity: .4;
        > .pl-icon{
          padding: 0 .5px;
        }
        &:hover{
          opacity: 1;
        }
      }  

      /** General Panels */
      .opt-panel{


        .panel-title{
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          padding: 4px 8px;
          border-bottom: 1px solid #eee;
          cursor: pointer;
          &:hover{
            background: #f7f7f7;
          }
          color: #777;
          .pl-icon{margin-right: 3px; width: 6px;}
          
        }
        
        
        ul.list-grid{
          list-style-type: none;
          .flex-display();
          
          flex-direction: row;
          flex-wrap: wrap;
          padding: 0;
          margin: 0;
          
          li{
            border: 1px solid #eee;
            border-radius: 3px;
            width: 31%;
            margin-right: 2%;
            margin-bottom: 2%;
            text-align: center;
            font-size: 10px;
            line-height: 1.1em;
            padding: 10px;
            position: relative;
            cursor: pointer;
            .title{
              margin-top: 3px;
            }
            .sicons{
              position: absolute;
              top: 0;
              right: 0;
              padding: 0;
              width: 15px;
              height: 15px;
              background-color: rgba(255,255,255,.5);
              color: #AAA;
            }
            
            &.disable-add{
              opacity: .3;
            }
            transition: all .2s;
            &:hover{
              background: rgba(0,0,0,.1);
              border: 1px solid #999;
              
            }
            &:active, 
            &.selected{
              background: #e1e1e1;
              border: 1px solid #bbb;
            }
            
            
            .list-icon{
              background-size: contain;
              background-position: 50% 50%; 
              background-repeat: no-repeat;
              height: 30px;
              width: 100%;
            }
          }
        }
        .filter-title{
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          opacity: .5;
          margin: 10px 0 5px;
          display: block;
          cursor: pointer;
          text-align: center;
        }

        .pl-object-list{

          border: 1px solid rgba(0,0,0,.05);
          background: #f7f7f7; 
          .pl-object-list-item{
            font-weight: 600;
            padding: 3px 9px;
            border-bottom: 1px solid rgba(0,0,0,.05);
            &:last-child{
              border-bottom: none;
            }
            
            
          }
        }

        .pl-nested-list{
          
          .pl-nested-list{
            padding-left: 1em;
          }
          .pl-nested-list-item{
            font-weight: 600;
            border: 1px solid rgba(0, 0, 0, 0.1);
            .item-title, 
            .item-drawer{
              padding: 3px 5px 3px 10px;
            }
            
            margin-bottom: 3px;
            &.pl-clickable .item-title{ 
              cursor: pointer;
           
            }


            &.pl-clickable .item-title:hover{
              background: #f7f7f7;
            }
            
            .list-item-action{
              float: right;
              margin-left: 5px;
            }
            .name{
              line-height: 1.2em;
            }
            .desc{
              display: block;
              opacity: .6;
              font-weight: 500;
            }
            .pl-icon-caret-up, 
            .pl-icon-caret-down{
              margin-left: 3px;
              opacity: .7;
            }
            .pl-icon-caret-up{
              display: none;
            }
            .pl-icon-caret-down{
              display: inline-block;
            }
            &.show-drawer{
              .item-drawer{
                display: block;
                
              }
              .pl-icon-caret-down{
                display: none;
              }
              .pl-icon-caret-up{
                display: inline-block;
              }
            }

            .item-drawer{
              display: none;
              .actions{
                padding: 10px 0;
              }
            }
          }
        }
        
      }

      

      .workarea-opts-form{

        .pl-loader{
          text-align: center;
          font-size: 4em;
          opacity: .07;
          padding: 50px 0;
        }
        .pl-dropdown-menu{
          display: none;
          &.show{
            display: block;
          }
          &.dd-ref{
            background: #f7f7f7;
            padding: 1.5em;
            line-height: 1.3;
            margin: .5em 0;
            ul{
              padding-left: 1.4em;
              li{
                margin: .5em 0;
              }
            }
          }
        }
        .richtext-frame{
          width: 100%;
          border: 1px solid #eee;
        }
        .richtext-textarea{
          display: none;
        }
        .sel-richtext {
          display: none;
        }
        .richtext-controls {
          
          border-bottom: none;
          display: inline-block;
          font-size: 8px;
          line-height: 1.3em;
          .ctrl {
            color: #000;
            display: inline-block;
            background: #FFF;
            padding: .5em 1em;
            
            &:first-child{
              border-left: none;
            }
            &:hover{
              background: #eee; 
              cursor: pointer;

            }
          }
        }

        .itemset{
          .item-toggle{
            cursor: pointer;
            .pl-icon-angle-up, 
            .pl-icon-caret-down{
              margin-left: 3px;
            }
            .pl-icon-caret-down{
              display: none;
            }
          }
        
          &.item-closed {
            .item-toggle{
              .pl-icon-angle-up{
                display: none;
              }
              .pl-icon-caret-down{
                display: inline-block;
              }
            }
            .item-contents{
              display: none;
            }
            
          }
        }

        .width-only-full{
          display: none;
        }

        &[data-level='0']{
          .width-only-content{
            display: none;
          }
          .width-only-full{
            display: block;
          }
        }
        .opt-panel{
          .panel-opts{
            padding: 1.5em 20px;
            .pl-form-group:last-child{
              margin-bottom: 0;
            }
            &.format-full{
              padding: 0;
            }
          }
        }
        
        .opt-title{
          font-weight: 600;
          margin: 2.5em -10px 1em;
          padding: 0 10px;
          text-align: center; 
          color: #888;
          .pl-icon{
            opacity: .7;
          }
        }
        .opt-guide{
     
          text-align: center; 
          font-weight: 300;
          opacity: .7;
          font-size: 12px;
          margin-bottom: 1.5em;
          line-height: 1.4em;
        }
        .pl-form-group{
          
          margin-bottom: 1em;
          > .form-group{
            padding: 0;
            margin-bottom: 1em;
          }
        }
        .pl-form-control{
          background: #fafafa;
          border: 1px solid #ddd;
          color:#000;
          box-shadow: none;
          font-size: 13px;   
          padding: 5px;
          height: auto;
          border-radius: 3px;
          font-weight: 300;
          margin-bottom: .4em;
          &.pl-required-field{
            background: #eee;
          }

        }
        textarea.pl-form-control.lstn{
          font-size: 10px;
          font-family: "Courier New", Courier, monospace;
          color: #333;
          height: 100px;
        }
        select[disabled]{
          border: none;
          -webkit-appearance: none;
        }
        label{
          display: block;
          font-size: 12px;
          line-height: 1.2;
          font-weight: 500;
          small{
            opacity: .4;
            text-transform: none;
            font-size: .92em;
          }
        }
        .html-textarea{
          font-family: courier, monospace;
            font-size: 8px;
            height: 50px;
            background: #f7f7f7;
        }
        
        input.invalid{
          border-color: #FF0039;
        }
        .pl-alert{
          font-size: 10px;
          padding: .4em 1em;
          border: 1px solid #eee;
          &.pl-alert-workarea{
            text-align: center;
          }
          .subtle{
            opacity: .4;
          }
          .pl-form-control{
            margin-top: 1em;
          }
        }
        .radio, 
        .checkbox{
          margin: 0;
        }
        input[type="radio"], 
        input[type="checkbox"] {
          margin-top: 1px;
        }
        .pl-btn-radios{
          .pl-btn{
            font-size: 11px;
            padding: 4px 8px;
            &.checked{
              background: #ddd;
            }
          }
          input[type="radio"]{
            display: none;
          }
        }
    
        

        


        .context-list{
          font-size: 11px;
          .context-item > div{
            display: inline-block;
            font-weight: 600;
            &.context-head{
                width: 60px;
                text-align: right;
                opacity: .4;
                padding-right: .5em;
                text-transform: capitalize;
            }
            
          }

        }
        
        .CodeMirror{
          font-size: 10px; 
          border: 1px solid #ccc;
          
          pre.CodeMirror-placeholder { 
            color: #CCC; 
          }
        }
        .less-errors{
          font-size: 9px;
          margin: 1em 0;
          &.has-error{
            color: #ff0000  ;
          }
        }
        .alert-help{
          
          padding: 0; 
          margin: 1em 0;
          font-size: 10px;
          &:last-child{
            margin-bottom: none;
          }
          .alert-title{
            text-transform: uppercase;
          }
          .alert-content{
            margin-bottom: 8px;
          }
          .special-option-value{
          
            
            margin-bottom: 8px;
            font-weight: 600;
            label{
              opacity: .4;
            }
            .val{
              font-size: 1.2em;
              text-transform: capitalize;
            }
          }
        }

        .list-tabs{
          padding: 10px 0 0;
          margin: 0;
          border-bottom: 1px solid #e1e1e1;
          text-transform: capitalize;
          font-size: 10px;
          text-align: center;
          li{

            &.ui-state-active a,
            a:hover{
              background: #eee;
            }
            a{ 
              display: inline-block;
              padding: 3px 30px;
              font-weight: 600;
              color: inherit; 
              background: #f6f6f6;
              outline: none;
            }
          }
      
          
        }
        .dd-list-container{
          padding: 10px 14px;
        }
        .dd-additional{
          a{
            display: block;
          }
          .pl-icon {
            opacity: .4;
          }
        }
        .dd-list{
          min-height: 30px;
          position: relative;
          font-size: 12px;
          margin:  0;
          padding: 0;
          list-style-type: none;
          &.no-list{
            min-height: 0;
          }
          
          .dd-list{
            display: flex;
              flex-wrap: wrap;
          }
          .dd-sort{
            .dd-item[class*='pl-col-']{
              padding-left: 3px;
                padding-right: 3px;
                margin-right: -1px;
            }
            .dd-item.pl-col-sm-12{
              margin-right: 0;
            }

            .dd-item.item-highlight{
              > .dd-item-wrap{
                box-shadow: 0 0 15px rgba(15,106,242, 0.4);
                border-color: rgba(15,106,242, .3);
              }
            }
            .dd-item.hide-on-page .dd-title{
              background: #eee;
            }
            .dd-item-wrap{
              transition: all 1s;
              border: 1px solid #ddd;
              background: #fff;
              position: relative;
              &:hover{
                border: 1px solid #d1d1d1;
              }
              .dd-dropdown{
                background: #fff;
                position: absolute;
                // width: 80px;
                min-width: 80px;
                left: 0;
                box-sizing: border-box;
                z-index: 10;
                padding: 3px 0;
                margin: 2px -1px;
                box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
                border: 1px solid #bbb;
                cursor: pointer;
                .dd-li{
                  
                  display: block;
                  
                  font-size: 12px;
                  vertical-align: top;
                  font-weight: 600;
                  
                  a, 
                  .a{
                    color: inherit; 
                    display: block;
                    padding: 3px;
                    .dd-control:hover{
                      background-color: rgba(0,0,0,.05);
                      text-decoration: none;
                      i{ opacity: .8;}
                    }
                    
                  }
                  a{
                    .pl-icon{
                      margin: 0 5px 0 8px;
                    }
                    &:hover{
                      background-color: rgba(0,0,0,.05);
                      i{ opacity: .8;}
                    }
                    &:active{
                      background-color: rgba(0,0,0,.08);
                      i{ opacity: 1;}
                    }
                  }
                  
                  .dd-in{
                
                    padding: 0;
                    margin: 0;
                    width: 18px;
                    text-align: center;
                    
                  }
                  i{
                    width: 15px;
                    text-align: center;
                    opacity: .4;
                  }
                }
              }
            }
          }
          .parent-item{
            
            > .dd-item-wrap > .dd-title{
              border-bottom: 1px solid #ddd;
            }
          }
          .dd-list{
            ol{ 
              padding: 6px 5px 0 5px;
              
            }
            li{
              margin-bottom: 6px;
            }
          }
          
        } 
        .dd-title{
          transition: background-color .3s;
          background: #fafafa;
          font-weight: 600; 
          position: relative;
          cursor: move;
          cursor: -webkit-grabbing;
          height: 26px;
          line-height: 26px;
          &:hover{
            background: #f7f7f7;
          }
          .dd-reorder{
            position: absolute;
            right: 0;
            margin: 5px;
          }
          
          .dd-control{
            display: inline-block;
            padding: 4px 6px;
            cursor: pointer;
            color: inherit;
            opacity: .6;
            &:hover{
              
              opacity: 1;
            }
          }
          .dd-name{
            max-width: calc(100% - 20px);
            padding: 0 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &:hover{
              background: #f4f4f4;
            }
            
            .pl-icon{
              margin-left: 3px;
            }
          }
          
        }

        .dd-control{
          &:hover{
            text-decoration: none;  
          }
        }

        .dd-show .dd-name{
          opacity: 1;
        }

        .context-buttons{
          display: flex;
          .btn-context{
            flex: 1;
            background: #eee;
            padding: 5px;
            font-size: 11px;
            text-align: center;
            font-weight: 600;
            color: inherit;
            cursor: pointer;
            &.btn-none{
              background: none;
              cursor: default;
              &:hover{
                background: none;
              }
            }
            &:hover,
            &:focus,  
            &.active{
              background: #e1e1e1;
              
            }
            &:last-child{
              border-right: none;
            }
            i{
              margin-right: 3px;
              opacity: .4;
            }
            .the-context{
              display: none;
            }
            &.context-unlinked{
              // opacity: .4;
              .show-unlinked{
                display: block;
              }
              
            }
            &.context-linked{
              .show-linked{
                display: block;
              }
              
            }
            
          }
        }
        .help-block{
          font-size: 12px;
          color: inherit;
          margin: .5em 0 1.5em;
          line-height: 1.4;
          opacity: .7;
          font-style: italic;
        }
        
        .ref-opt{
          margin: 3px 0;
          .pl-dropdown-toggle{
            opacity: .6;
            &:hover{
              opacity: 1;
            }
          }
        }

        .opt-accordion{

          .opt-group{
            margin: 5px 0;
            border: 1px solid #eee;
          }
          .opt-name{
            font-size: 12px;
            line-height: 1.8em;
            margin: 0;
            position: relative;
            cursor: pointer;
            box-shadow: none; 
            outline: none;

            .pl-icon-reorder{
              margin: 0 4px;
              cursor: move;
              cursor: -webkit-grabbing;
            }
            .pl-btn{
              position: absolute; 
              right: 0;
              color:#888;
              padding: 1px 5px;
            }
            
            &:active, 
            &:focus{
              outline: none;
              
            }  
            
            
          }

          .item-open .opt-name, 
          .opt-name:hover{
            background: #f7f7f7;
          }

          .opt-accordion-opts{
            background: #fff; 
            padding: 10px;
          }
        }

        .dragger-option{
          margin-left: -10px;
          .pl-input-group{
            margin-left: 10px;
            cursor: row-resize;
            display: inline-table;
            vertical-align: middle;
            .pl-input-group-addon{ width: auto; }
          }
          .pl-input-group-addon{ 
            background: #eee; 
            border: none;
            text-align: center;
            padding-right: 3px;
            padding-left: 3px;
            font-size: 8px;
            padding-top: 4px;
          }
          .dragger{ 
            width: 28px;
            padding: 4px;
            font-size: 9px;
            cursor: row-resize;
            border: 1px solid #eee;
            margin: 0;
          }
        }
        .label-block{
          display: block;
        }

        .dragger-reset{
          float: right;
          cursor: pointer;
        }

        .button-config{
          .item-contents > .pl-form-group{
            width: 45%;
            display: inline-block;
            margin-right: 5%;
          }
        }



      }
      
      /**
       * Clipboard For Sections
       */
      
      .clipboard-confirm{
        opacity: 0; 
        transition: opacity .5s;
      }

      .copied .clipboard-confirm{
        opacity:  1;
      }

      .list-filter input{
        background: #fff;
        border: none;
        border-bottom: 1px solid #ccc;
        font-weight: 300; 
        font-size: 10px;
      }
    }
  }

  &.pl-has-sidebar {
    .iframe-container{
      right: @sidebar-width;
    }
    .pl-workarea-sidebar-container {
      right: 0;
    }
  }

}



/** 
 * Dropzone Preview when showing larger images on load.
 */
.dz-preview{
  max-width: 56px;
  img{max-width: 100%;display: block;}
}


/**
 * If Builder is open, dont show customize button in admin bar (causes headaches)
 */
.hide-if-no-customize{
  display: none;
}

/**
 * WordPress Color Pickers
 */
.wp-picker-container{
  .wp-color-result{
    &:hover{
      text-decoration: none;
    }
    &:after{
      line-height: 20px;
    }
  }
  .iris-picker{
    z-index: 100;
  }
}



/**
 * Modals
 */

.modal-media{
  .modal-body, 
  .bootbox-body{
    padding: 0;
  }
}
.modal-iframe{
  width: 100%;
  height: 400px;
  border: none;
}

.list-unstyled{
  list-style-type: none;
}
  



.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
